$text-color: #a1a8ae;

.btn[class*=" icon-"], .btn[class*=" fa-"], .btn[class^="icon-"], .btn[class^="fa-"] {
  padding-right: 36px;
  padding-left: 0;
  font-family: inherit;
}

#search-modify .padded-panel {
  padding: 20px 35px 15px;
  margin-left: 0;
  margin-right: 0;
}

.panel {
  background-color: #fff;
  text-align: center;
}

.usersearch-info-item {
  float: left;
  border-right: 1px solid #eee;
  padding: 0 3%;
  height: 50px;
  line-height: 50px;
  color: #7a8085;
}

.usersearch-info-item > span {
  line-height: 25px;
  display: table-cell;
  height: 50px;
}

.fa-exchange-alt, .fa-long-arrow-alt-right {
  padding: 0 20px;
  font-size: 18px;
  color: #7a8085;
  position: relative;
  top: 10px;
}

.pull-right {
  float: right !important;
}

.btn.active, .btn:hover {
  color: #fff;
  background-color: #2d3e52;
}

#modifyButton i {
  background-color: #a1a1a1;
}

#modifyButton:hover i, #modifyButton.active i {
  background-color: #2d3e52;
}

.icon-modify i {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #fff;
  padding: 12px;
  transition: .3s;
}


