<h2>Seat selection</h2>
<div class="horizontal-divider"></div>

<div class="panel">
  <div class="text-center item">
    <p class="big-text bold" style="text-transform: capitalize">
      Soft seat Premium </p>
  </div>

  <div class="row my-5">
    <div class="col-2 offset-3 d-flex flex-column align-items-center">
      <div class="d-flex">
        <button class="seat seat-available seat-available-sample"></button>

        <div class="bed-border d-flex">
          <div>
            <button class="bed bed-available bed-available-sample"></button>
            <div class="bed-illustration"></div>
          </div>
        </div>
      </div>
      <div>
        Available
      </div>
    </div>

    <div class="col-2 d-flex flex-column align-items-center">
      <div class="d-flex">
        <button class="seat seat-selected seat-selected-sample"></button>

        <div class="bed-border d-flex">
          <div>
            <button class="bed bed-selected bed-selected-sample"></button>
            <div class="bed-illustration"></div>
          </div>
        </div>
      </div>
      <div>
        Selected
      </div>
    </div>

    <div class="col-2 d-flex flex-column align-items-center">
      <div class="d-flex">
        <button class="seat seat-unavailable seat-unavailable-sample"></button>

        <div class="bed-border d-flex">
          <div>
            <button class="bed bed-unavailable bed-unavailable-sample"></button>
            <div class="bed-illustration"></div>
          </div>
        </div>
      </div>
      <div>
        Sold out
      </div>
    </div>

    <div class="col-2 offset-3 d-flex flex-column align-items-center mt-4">
      <div class="car-icon car-icon-available">
        <img src="https://dsvn.vn/images/trainCar2.png">
      </div>
      <span>
          Has tickets
      </span>
    </div>

    <div class="col-2 d-flex flex-column align-items-center mt-4">
      <div class="car-icon car-icon-selected">
        <img src="https://dsvn.vn/images/trainCar2.png">
      </div>
      <span>
          Currently selected
      </span>
    </div>

    <div class="col-2 d-flex flex-column align-items-center mt-4">
      <div class="car-icon car-icon-sold-out">
        <img src="https://dsvn.vn/images/trainCar2.png">
      </div>
      <span>
        Ticket is sold out
      </span>
    </div>

    <div class="horizontal-divider my-5"></div>

    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center">
        <div class="car-block">
          <div class="car-icon" style="transform: rotate(-180deg) scaleY(-1);">
            <img src="https://dsvn.vn/images/train2.png">
          </div>
          <div class="text-center text-info car-label">
            {{ trainDetail_de?.name }}
          </div>
        </div>

        <div class="car-block"
             (click)="selectCarriage_de(item)"
             *ngFor="let item of carriageMatchType_de; let i = index">
          <div class="car-icon"
               [ngClass]="item.id == currentSelectCarriage_de?.id ? 'car-icon-selected' : 'car-icon-available'">
            <img src="https://dsvn.vn/images/trainCar2.png">
          </div>
          <div class="text-center text-info car-label">{{ i + 1 }}</div>
        </div>
      </div>


      <!--Ghế mềm-->
      <section class="seat-floor"
               *ngIf="bookingService.currentSelectDepartureSchedule?.selectedCarriageType?.id == 1">
        <div class="d-flex justify-content-center">
          <div *ngIf="compartmentOfCarriage_de && compartmentOfCarriage_de[0] && compartmentOfCarriage_de[0].seats">
            <div class="seat-row" *ngIf="this.bookingService.currentSelectDepartureSchedule">
              <button class="seat"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectDepartureSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_de[0]">
                {{ seat.name }}
              </button>
            </div>

            <div class="seat-row mt-1">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectDepartureSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_de[1]">
                {{ seat.name }}
              </button>
            </div>

          </div>
          <div class="seat-separator"></div>
          <div *ngIf="compartmentOfCarriage_de && compartmentOfCarriage_de[1] && compartmentOfCarriage_de[1].seats">
            <div class="seat-row">
              <div class="seat-row">
                <button class="seat seat-available"
                        tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                        [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                        (click)="toggleSelectDepartureSeat(seat)"
                        [class.seat-selected]="seat.selected"
                        *ngFor="let seat of seatRows_de[4]">
                  {{ seat.name }}
                </button>
              </div>
            </div>
            <div class="seat-row mt-1">
              <div class="seat-row">
                <button class="seat seat-available"
                        tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                        [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                        (click)="toggleSelectDepartureSeat(seat)"
                        [class.seat-selected]="seat.selected"
                        *ngFor="let seat of seatRows_de[5]">
                  {{ seat.name }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <div *ngIf="compartmentOfCarriage_de && compartmentOfCarriage_de[0] && compartmentOfCarriage_de[0].seats">
            <div class="seat-row">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectDepartureSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_de[2]">
                {{ seat.name }}
              </button>
            </div>
            <div class="seat-row mt-1">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectDepartureSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_de[3]">
                {{ seat.name }}
              </button>
            </div>
          </div>
          <div class="seat-separator"></div>
          <div *ngIf="compartmentOfCarriage_de && compartmentOfCarriage_de[1] && compartmentOfCarriage_de[1].seats">
            <div class="seat-row">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectDepartureSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_de[6]">
                {{ seat.name }}
              </button>
            </div>
            <div class="seat-row mt-1">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectDepartureSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_de[7]">
                {{ seat.name }}
              </button>
              <!--              <button class="seat seat-available"-->
              <!--                      [class.seat-selected]="seatStatus[7][colIndex]"-->
              <!--                      (click)="toggleSeat(7, colIndex)"-->
              <!--                      *ngFor="let seat of seatRows[7]; let colIndex = index">-->
              <!--                {{ seat }}-->
              <!--              </button>-->
            </div>
          </div>
        </div>
      </section>

      <!--Giường 4 khoang-->

      <section *ngIf="bookingService.currentSelectDepartureSchedule?.selectedCarriageType?.id == 2"
               class="seat-floor d-flex align-items-end">

        <div class="d-flex flex-column mb-2" *ngIf="currentSelectCarriage_de?.compartments">
          <button class="btn">
            T2
          </button>
          <button class="btn">
            T1
          </button>
        </div>
        <div class="bed-outer" *ngFor="let item of currentSelectCarriage_de?.compartments; let i = index">
          <label class="label w-100 text-center">Khoang {{ i + 1 }}</label>
          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[1].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[1])"
                      [class.seat-selected]="item.seats[1].selected"
                      [ngClass]="item.seats[1].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[1].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[3].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[3])"
                      [class.seat-selected]="item.seats[3].selected"
                      [ngClass]="item.seats[3].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[3].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>

          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[0].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[0])"
                      [class.seat-selected]="item.seats[0].selected"
                      [ngClass]="item.seats[0].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[0].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[2].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[2])"
                      [class.seat-selected]="item.seats[2].selected"
                      [ngClass]="item.seats[2].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[2].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>
        </div>
      </section>

      <!--Giường 6 khoang-->

      <section *ngIf="bookingService.currentSelectDepartureSchedule?.selectedCarriageType?.id == 3"
               class="seat-floor d-flex align-items-end">
        <div class="d-flex flex-column mb-2" *ngIf="currentSelectCarriage_de?.compartments">
          <button class="btn">
            T3
          </button>
          <button class="btn">
            T2
          </button>
          <button class="btn">
            T1
          </button>
        </div>
        <div class="bed-outer" *ngFor="let item of currentSelectCarriage_de?.compartments; let i = index">
          <label class="label w-100 text-center">Khoang {{ i + 1 }}</label>
          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[2].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[2])"
                      [class.seat-selected]="item.seats[2].selected"
                      [ngClass]="item.seats[2].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[2].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[5].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[5])"
                      [class.seat-selected]="item.seats[5].selected"
                      [ngClass]="item.seats[5].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[5].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>

          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[1].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[1])"
                      [class.seat-selected]="item.seats[1].selected"
                      [ngClass]="item.seats[1].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[1].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[4].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[4])"
                      [class.seat-selected]="item.seats[4].selected"
                      [ngClass]="item.seats[4].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[4].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>

          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[0].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[0])"
                      [class.seat-selected]="item.seats[0].selected"
                      [ngClass]="item.seats[0].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[0].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[3].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectDepartureSeat(item.seats[3])"
                      [class.seat-selected]="item.seats[3].selected"
                      [ngClass]="item.seats[3].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[3].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>
        </div>

      </section>

    </div>

    <div class="horizontal-divider my-5" *ngIf="bookingService.isRoundTrip"></div>

    <div class="d-flex flex-column align-items-center justify-content-center" *ngIf="bookingService.isRoundTrip">
      <div class="d-flex align-items-center justify-content-center">
        <div class="car-block">
          <div class="car-icon" style="transform: rotate(-180deg) scaleY(-1);">
            <img src="https://dsvn.vn/images/train2.png">
          </div>
          <div class="text-center text-info car-label">
            {{ trainDetail_de?.name }}
          </div>
        </div>

        <div class="car-block"
             (click)="selectCarriage_re(item)"
             *ngFor="let item of carriageMatchType_re; let i = index">
          <div class="car-icon"
               [ngClass]="item.id == currentSelectCarriage_re?.id ? 'car-icon-selected' : 'car-icon-available'">
            <img src="https://dsvn.vn/images/trainCar2.png">
          </div>
          <div class="text-center text-info car-label">{{ i + 1 }}</div>
        </div>
      </div>


      <!--Ghế mềm-->
      <section class="seat-floor"
               *ngIf="bookingService.currentSelectReturnSchedule?.selectedCarriageType?.id == 1">
        <div class="d-flex justify-content-center">
          <div *ngIf="compartmentOfCarriage_re && compartmentOfCarriage_re[0] && compartmentOfCarriage_re[0].seats">
            <div class="seat-row" *ngIf="this.bookingService.currentSelectReturnSchedule">
              <button class="seat"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectReturnSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_re[0]">
                {{ seat.name }}
              </button>
            </div>

            <div class="seat-row mt-1">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectReturnSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_re[1]">
                {{ seat.name }}
              </button>
            </div>

          </div>
          <div class="seat-separator"></div>
          <div *ngIf="compartmentOfCarriage_re && compartmentOfCarriage_re[1] && compartmentOfCarriage_re[1].seats">
            <div class="seat-row">
              <div class="seat-row">
                <button class="seat seat-available"
                        tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                        [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                        (click)="toggleSelectReturnSeat(seat)"
                        [class.seat-selected]="seat.selected"
                        *ngFor="let seat of seatRows_re[4]">
                  {{ seat.name }}
                </button>
              </div>
            </div>
            <div class="seat-row mt-1">
              <div class="seat-row">
                <button class="seat seat-available"
                        tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                        [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                        (click)="toggleSelectReturnSeat(seat)"
                        [class.seat-selected]="seat.selected"
                        *ngFor="let seat of seatRows_re[5]">
                  {{ seat.name }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <div *ngIf="compartmentOfCarriage_re && compartmentOfCarriage_re[0] && compartmentOfCarriage_re[0].seats">
            <div class="seat-row">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectReturnSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_re[2]">
                {{ seat.name }}
              </button>
            </div>
            <div class="seat-row mt-1">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectReturnSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_re[3]">
                {{ seat.name }}
              </button>
            </div>
          </div>
          <div class="seat-separator"></div>
          <div *ngIf="compartmentOfCarriage_re && compartmentOfCarriage_re[1] && compartmentOfCarriage_re[1].seats">
            <div class="seat-row">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectReturnSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_re[6]">
                {{ seat.name }}
              </button>
            </div>
            <div class="seat-row mt-1">
              <button class="seat seat-available"
                      tooltip="Price: {{ seat.seatTotalPrice | currency: 'VND'}}"
                      [ngClass]="seat.booked ? 'seat-unavailable' : 'seat-available'"
                      (click)="toggleSelectReturnSeat(seat)"
                      [class.seat-selected]="seat.selected"
                      *ngFor="let seat of seatRows_re[7]">
                {{ seat.name }}
              </button>
            </div>
          </div>
        </div>
      </section>

      <!--Giường 4 khoang-->

      <section *ngIf="bookingService.currentSelectReturnSchedule?.selectedCarriageType?.id == 2"
               class="seat-floor d-flex align-items-end">

        <div class="d-flex flex-column mb-2" *ngIf="currentSelectCarriage_re?.compartments">
          <button class="btn">
            T2
          </button>
          <button class="btn">
            T1
          </button>
        </div>
        <div class="bed-outer" *ngFor="let item of currentSelectCarriage_re?.compartments; let i = index">
          <label class="label w-100 text-center">Khoang {{ i + 1 }}</label>
          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[1].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[1])"
                      [class.seat-selected]="item.seats[1].selected"
                      [ngClass]="item.seats[1].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[1].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[3].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[3])"
                      [class.seat-selected]="item.seats[3].selected"
                      [ngClass]="item.seats[3].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[3].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>

          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[0].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[0])"
                      [class.seat-selected]="item.seats[0].selected"
                      [ngClass]="item.seats[0].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[0].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[2].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[2])"
                      [class.seat-selected]="item.seats[2].selected"
                      [ngClass]="item.seats[2].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[2].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>
        </div>
      </section>

      <!--Giường 6 khoang-->

      <section *ngIf="bookingService.currentSelectReturnSchedule?.selectedCarriageType?.id == 3"
               class="seat-floor d-flex align-items-end">
        <div class="d-flex flex-column mb-2" *ngIf="currentSelectCarriage_re?.compartments">
          <button class="btn">
            T3
          </button>
          <button class="btn">
            T2
          </button>
          <button class="btn">
            T1
          </button>
        </div>
        <div class="bed-outer" *ngFor="let item of currentSelectCarriage_re?.compartments; let i = index">
          <label class="label w-100 text-center">Khoang {{ i + 1 }}</label>
          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[2].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[2])"
                      [class.seat-selected]="item.seats[2].selected"
                      [ngClass]="item.seats[2].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[2].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[5].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[5])"
                      [class.seat-selected]="item.seats[5].selected"
                      [ngClass]="item.seats[5].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[5].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>

          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[1].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[1])"
                      [class.seat-selected]="item.seats[1].selected"
                      [ngClass]="item.seats[1].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[1].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[4].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[4])"
                      [class.seat-selected]="item.seats[4].selected"
                      [ngClass]="item.seats[4].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[4].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>

          <div class="bed-border d-flex">
            <div>
              <button class="bed"
                      tooltip="Price: {{ item.seats[0].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[0])"
                      [class.seat-selected]="item.seats[0].selected"
                      [ngClass]="item.seats[0].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[0].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
            <div class="ml-2">
              <button class="bed"
                      tooltip="Price: {{ item.seats[3].seatTotalPrice | currency: 'VND'}}"
                      (click)="toggleSelectReturnSeat(item.seats[3])"
                      [class.seat-selected]="item.seats[3].selected"
                      [ngClass]="item.seats[3].booked ? 'seat-unavailable' : 'seat-available'">
                {{ item.seats[3].name }}
              </button>
              <div class="bed-illustration"></div>
            </div>
          </div>
        </div>

      </section>

    </div>

  </div>
</div>

<div class="panel" style="border-left: 3px solid #5bc0de;">
  <div class="d-flex align-items-center">
    <img class="me-3" style="width: 30px" src="https://booking.baolau.com/images/icons/avatar-baolau.png" alt="avatar">
    <h6 style="line-height: 30px; font-size: 18px; margin: 0">
      Seat position not guaranteed
    </h6>
  </div>
  <div class="horizontal-divider"></div>
  <p class="mt-3 fst-italic">
    Please note that the position of the seats is just for reference. The railway operator may change the orientation of
    the carriage at the departure station anytime at their convenience. We hope you understand that this situation
    escapes our control and we cannot guarantee that the position of your seat will be the same as you select here.
  </p>
</div>

<div class="mt-3 mb-5">
  <a class="btn green w-100" (click)="onSubmit()">
    <span class="bold">CONTINUE</span>
  </a>
</div>

<pre>
<!--  currentBookingScheduleParams-->
  <!--  {{ bookingService.currentBookingScheduleParams | json }}-->
  <!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <!--  currentSelectSchedule-->
  <!--  {{ bookingService.currentSelectSchedule | json }}-->
  <!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <!--  trainDetail-->
  <!--  {{ trainDetail | json }}-->
  <!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <!--  carriageMatchType-->
  <!--  {{ carriageMatchType | json }}-->
  <!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <!--  currentSelectCarriage-->
    {{ currentSelectCarriage_de | json }}
    ----------------
    compartmentOfCarriage
    {{ compartmentOfCarriage_de | json }}
    ----------------
<!--    selectedSeats-->
<!--    {{ selectedSeats | json }}-->
</pre>
