<div class="container mt-5">
  <h2>Payment success!</h2>
  <div class="horizontal-divider"></div>
  <p class="mt-4">
    Your e-ticket(s) will be <span class="bold">promptly dispatched to the email address linked to your account</span>.
    <br>
    Kindly check your inbox, and don't forget to peruse your spam folder, just in case.
  </p>
  <p>
    We deeply appreciate your confidence in our services and eagerly anticipate being of service on your upcoming journey.
    <br>
    Should you have any inquiries or need further assistance, please don't hesitate to
    <a routerLink="/help" class="bold" style="color: #fb0">reach out</a>
    to our dedicated customer support team.
  </p>

  <p>
    Once again, thank you for entrusting us with your travel needs.
    <br>
    <br>
    Wishing you safe and pleasant travels!
  </p>
</div>
