<div class="col-md-6">

  <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success">
    <nb-card-header>
      <div class="d-flex justify-content-between">
        Define New Payment
        <button type="submit" nbButton
                routerLink="/managements/payment-and-cancellation/payment"
                status="primary">Back to list
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

        <input type="hidden" formControlName="id">

        <app-input-field [control]="paymentForm.get('email')"
                         [label]="'Email'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Email of user..'">
        </app-input-field>

        <app-input-field [control]="paymentForm.get('transactionId')"
                         [label]="'Transaction Id'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Transaction id..'">
        </app-input-field>

        <app-input-field [control]="paymentForm.get('status')"
                         [label]="'Status'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Status.'">
        </app-input-field>


        <ul *ngIf="errorMessages.length > 0">
          <li class="text-danger" *ngFor="let item of errorMessages">{{item}}</li>
        </ul>

        <button type="submit" nbButton status="success" class="float-right">Save</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
