<div class="col-md-6">

  <nb-card>
    <nb-card-header>
      <div class="d-flex justify-content-between">
        Edit Passenger
        <button type="submit" nbButton
                routerLink="/managements/passenger-and-ticket/passenger"
                status="primary">Back to list
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="passengerForm" (ngSubmit)="onSubmit()">

        <input type="hidden" formControlName="id">

        <app-input-field [control]="passengerForm.get('fullName')"
                         [label]="'Full name'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Name of passenger..'">
        </app-input-field>

        <div class="row">
          <div class="col-6">
            <app-input-field [control]="passengerForm.get('cardId')"
                             [label]="'Card Id Number'"
                             [isSubmitted]="isSubmitted"
                             [placeholder]="'Card id of passenger..'">
            </app-input-field>
          </div>

          <div class="col-6">
            <app-input-field [control]="passengerForm.get('email')"
                             [label]="'Email'"
                             [isSubmitted]="isSubmitted"
                             [placeholder]="'Email of passenger..'">
            </app-input-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-input-field [control]="passengerForm.get('phone')"
                             [label]="'Phone number'"
                             [isSubmitted]="isSubmitted"
                             [placeholder]="'Phone number of passenger..'">
            </app-input-field>
          </div>

          <div class="col-6">
            <app-input-field [control]="passengerForm.get('age')"
                             [label]="'Age'"
                             [isSubmitted]="isSubmitted"
                             [placeholder]="'Age of passenger..'">
            </app-input-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="label">Gender</label>
              <nb-select selected="male" fullWidth (selectedChange)="onGenderChange($event)">
                <nb-option value="male">Male</nb-option>
                <nb-option value="female">Female</nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <ul *ngIf="errorMessages.length > 0">
          <li class="text-danger" *ngFor="let item of errorMessages">{{item}}</li>
        </ul>

        <button type="submit" nbButton status="success" class="float-right">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
