$text-color: #a1a8ae;

::placeholder {
  color: $text-color;
  opacity: 1;
  font-style: italic;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

label {
  display: block;
  margin-bottom: 7px;
  letter-spacing: .2px;
  color: $text-color;
  font-weight: 600;
}


button {
  overflow: visible;
  border: none;
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
}


.form-padding {
  padding: 40px 35px 15px;
  margin-left: 0;
  margin-right: 0;
}

.row-padding {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  > li {
    position: relative;
    display: block;
  }

  > li > a {
    position: relative;
    display: block;
    padding: 0;
    background-color: #f5f5f5;
    color: rgba(115,121,127,.7);
    font-weight: 400;
    border-radius: 0;
    text-align: center;
  }
}

.nav-pills {
  > li {
    float: left;
  }

  li {
    width: 50%;
    a {
      line-height: 40px;
      height: 40px;
    }
  }
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #fb0;
  font-weight: 700;
  text-align: center;
}


#passenger_selector ul li {
  float: left;
}

#passenger_selector .btn-circle {
  position: relative;
}

.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 38px;
  background: #fb0;
  color: #fff;
  border-radius: 50%;
}

button {
  overflow: visible;
  border: none;
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
}

input[readonly] {
  cursor: pointer !important;
}

.input-number {
  height: 40px;
  width: 40px;
  color: rgba(115,121,127,.7);
  border: 0;
  margin: 0 10px;
  -webkit-appearance: none;
}

.input-number:focus {
  border: 1px solid #fb0;
  transition: .6s;
  outline: 0;
}

.btn-confirmed, .btn.green {
  background: #9ccd19;
}

.btn-confirmed:hover, .btn.green-hover:hover, .btn.green:hover {
  background: #81b900;
}

.icon-search i {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #fff;
  background-color: #81b900;
  padding: 12px;
  transition: .3s;
}

.btn.green:hover.icon-search i {
  background-color: #70a100;
}


.btn[class*=" icon-"], .btn[class*=" fa-"], .btn[class^="icon-"], .btn[class^="fa-"] {
  padding-right: 36px;
  padding-left: 0;
  font-family: inherit;
}

.form-container {
  display: none;
}

.form-container.open {
  display: block;
}

/// Input drop down

.wrapper {
  background-color: rgb(245, 245, 245);
}

.select-btn, .options li {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.select-btn {
  height: 40px;
  font-size: 16px;
  color: rgb(115, 121, 127);
  display: flex;
  cursor: pointer;
  padding: 0 20px;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}

.select-btn i {
  font-size: 20px;
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.content {
  display: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 2px;
  width: 378px;
  position: absolute;
  z-index: 100;
  background-color: rgb(235, 235, 235);
}

.wrapper.active .content {
  display: block;
}

.content .search {
  position: relative;
}

.search i {
  left: 15px;
  color: #999;
  font-size: 14px;
  line-height: 33px;
  position: absolute;

}
.search input {
  height: 33px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 15px 0 43px;
  border: 1px solid #b3b3b3;
}

.content .options {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 7px;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options li {
  height: 40px;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px;
}

.options li:hover, li.selected {
  background: #d9d9d9;
}



