<nb-card>
  <nb-card-header>Carriages type details</nb-card-header>
  <nb-card-body>
    <section style="min-width: 600px">
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="name" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Number of Compartments</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="numberOfCompartments" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Number of Seats</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="numberOfSeats" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Number of Seat Types</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="numberOfSeatTypes" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Service Charge</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="serviceCharge | currency:'VND'" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <textarea nbInput fullWidth disabled rows="8" style="color: black">{{description}}</textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="status" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Created At</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="createdAt | date: 'medium'" disabled>
        </div>
      </div>

    </section>

  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>

      <div>
        <button nbButton hero status="primary" class="mr-3" (click)="onEdit()">Edit</button>
        <button nbButton hero status="danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
