<div class="banner">
  <div
    class="bg-banner"
    style="
      background: url(assets/banner/booking-history.jpg) center center no-repeat;
      background-size: cover;
    "></div>
  <div class="banner-content">
    <div class="container">
      <h1 class="teko text-uppercase">Booking history</h1>
    </div>
  </div>
</div>

<tabset class="user-booking-history">
  <tab class="container" heading="Upcoming"> Tab 1 content </tab>
  <tab class="container" heading="Past Trips"> Tab 2 content </tab>
  <tab class="container" heading="Cancelled"> Tab 3 content </tab>
</tabset>
