<div class="banner">
  <div
    class="bg-banner"
    style="
      background: url(assets/banner/booking-history.jpg) center center no-repeat;
      background-size: cover;
    "></div>
  <div class="banner-content">
    <div class="container">
      <h1 class="teko text-uppercase">Booking history</h1>
    </div>
  </div>
</div>

<tabset class="user-booking-history">
  <tab class="container" heading="Upcoming">
    <div *ngIf="upcomingTrips.length > 0; else noUpcomingTrips">
      <app-ticket-table [tickets]="upcomingTrips"
                        (onConfirmCancel)="onConfirmCancel()"
                        [isUpcoming]="true"></app-ticket-table>
    </div>
    <ng-template #noUpcomingTrips>
      <div class="mt-5">
        <h3 class="text-center text-secondary">No upcoming trips</h3>

        <div class="text-center">
          <a routerLink="/user/profile" class="text-secondary">Go to profile</a>
        </div>
      </div>
    </ng-template>
  </tab>
  <tab class="container" heading="Past Trips">
    <div *ngIf="pastTrips.length > 0; else noPastTrips">
      <app-ticket-table [tickets]="pastTrips"></app-ticket-table>
    </div>

    <ng-template #noPastTrips>
      <div class="mt-5">
        <h3 class="text-center text-secondary">No past trips</h3>

        <div class="text-center">
          <a routerLink="/user/profile" class="text-secondary">Go to profile</a>
        </div>
      </div>
    </ng-template>
  </tab>
  <tab class="container" heading="Cancelled">
    <div *ngIf="cancellations.length > 0; else noCancellationTrips">
      <app-ticket-table [tickets]="cancellations"></app-ticket-table>
    </div>

    <ng-template #noCancellationTrips>
      <div class="mt-5">
        <h3 class="text-center text-secondary">No cancellation trips</h3>

        <div class="text-center">
          <a routerLink="/user/profile" class="text-secondary">Go to profile</a>
        </div>
      </div>
    </ng-template>
  </tab>
</tabset>
