<div class="container mt-5">
  <div class="progress-bar-holder hidden-sm hidden-xs">
    <ul class="progressbar small-text bold" *ngIf="bookingService.currentStep">
      <li (click)="navigateBack(1)"
          [class.current]="bookingService.currentStep === 1"
          [class.active]="bookingService.currentStep > 1">
      <!--  current khi đang ở bước đó, active khi đã làm xong   -->
        <span>Departure</span>
        <em class="progress-bar-arrow"></em>
      </li>

      <li (click)="navigateBack(2)"
          [class.current]="bookingService.currentStep === 2"
          [class.active]="bookingService.currentStep > 2">
        <span>Seat selection</span>
        <em class="progress-bar-arrow"></em>
      </li>

      <li (click)="navigateBack(3)"
          [class.current]="bookingService.currentStep === 3"
          [class.active]="bookingService.currentStep > 3">
        <span>Passengers</span>
        <em class="progress-bar-arrow"></em>
      </li>

      <li (click)="navigateBack(4)"
          [class.current]="bookingService.currentStep === 4"
          [class.active]="bookingService.currentStep > 4">
        <span>Payment</span>
        <em class="progress-bar-arrow"></em>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>

</div>
