<div class="container mt-5">
  <div class="progress-bar-holder hidden-sm hidden-xs">
    <ul class="progressbar small-text bold">
      <li class="current">
      <!--  current khi đang ở bước đó, active khi đã làm xong   -->
        <span>DEPARTURE</span>
        <em class="progress-bar-arrow"></em>
      </li>
      <li class="">
        <span>PASSENGERS</span>
        <em class="progress-bar-arrow"></em>
      </li>
      <li class="">
        <span>PAYMENT</span>
        <em class="progress-bar-arrow"></em>
      </li>
      <li class="">
        <span>CONFIRMATION</span>
        <em class="progress-bar-arrow"></em>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>

</div>
