<table class="table table-striped">
  <thead>
  <tr>
    <th>Ticket Code</th>
    <th>Passenger Name</th>
    <th>Train Name</th>
    <th>Seat Name</th>
    <th>Price</th>
    <th>Created At</th>
    <th *ngIf="isUpcoming"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of tickets">
    <td>{{ item.code }}</td>
    <td>{{ item.passengerName }}</td>
    <td>{{ item.trainName }}</td>
    <td>{{ item.seatName }}</td>
    <td>{{ item.price | currency:'VND' }}</td>
    <td>{{ item.createdAt | date:'medium' }}</td>
    <td *ngIf="isUpcoming">
      <button
        class="btn btn-danger"
        (click)="openConfirmModal(item)">
        Cancellation
      </button>
    </td>
  </tr>
  </tbody>
</table>
