<div class="row my-3">
  <div class="col-2 position-relative">
    <input class="form-control"
           [(ngModel)]="searchText"
           (change)="filterTickets()"
           (keyup.escape)="resetSearchText()"
           style="padding-right: 30px"
           type="text"
           placeholder="Ticket code, name..">
    <i class="fa-solid fa-magnifying-glass position-absolute" style="top: 30%; right: 20px; cursor: pointer"></i>
  </div>
  <div class="col-2" *ngIf="searchText != ''">
    <button (click)="resetSearchText()" class="btn btn-outline-primary">Reset</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Ticket Code</th>
    <th>Passenger Name</th>
    <th>Train Name</th>
    <th>Seat No.</th>
    <th>Price</th>
    <th>Created At</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngIf="tickets && tickets.length > 0">
  <tr
    *ngFor="let item of filterTickets() | slice:(currentPage - 1) * itemsPerPage : (currentPage - 1) * itemsPerPage + itemsPerPage">
    <td>{{ item.code }}</td>
    <td>{{ item.passengerName }}</td>
    <td>{{ item.trainName }}</td>
    <td>{{ item.seatName }}</td>
    <td>{{ item.price | currency:'VND' }}</td>
    <td>{{ item.createdAt | date:'medium' }}</td>
    <td>
      <button class="btn btn-sm text-white me-2" style="background-color: #9ccd19" (click)="openShowModal(item)">
        Details
      </button>
      <button *ngIf="isUpcoming" class="btn btn-sm btn-danger" (click)="openConfirmModal(item)">
        Cancellation
      </button>
    </td>
  </tr>
  </tbody>

  <tbody *ngIf="searchText !== '' && filterTickets().length === 0">
  <tr>
    <td class="py-5 text-center" colspan="7">No result found</td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col d-flex">
    <p class="me-5">
      Showing {{ displayedItemsStart }} - {{ displayedItemsEnd }} of {{ filterTickets().length }} items
    </p>

    <pagination [totalItems]="filterTickets().length"
                [(ngModel)]="currentPage"
                [itemsPerPage]="itemsPerPage"
                (pageChanged)="pageChanged($event)"
                *ngIf="filterTickets().length > itemsPerPage"
                class="pagination-sm">
    </pagination>
  </div>
</div>
