.cart-no {
  position: absolute;
  top: -5px;
  right: 35px;
  background-color: blue;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #343a40;
  &.active {
    color: #007bff;
  }
}

.logo {
  cursor: pointer;
}
