<header class="d-flex flex-row align-items-center p-3 px-4 justify-content-between fixed-top"
        [class.shadow]="isScroll || checkStartsWith(href)"
        [class.border-bottom]="isScroll || checkStartsWith(href)"
        [class.bg-white]="isScroll || checkStartsWith(href)">
  <div class="d-flex align-items-center" style="cursor:pointer;" routerLink="/">
    <h2 [class.is-scrolled]="isScroll || checkStartsWith(href)">RailTicket<b class="small">Hub</b></h2>
  </div>

  <nav class="my-2 text-uppercase fs-5">
    <a [routerLinkActiveOptions]="{exact: true}"
       class="p-2 mx-2 nav-item"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLink="/"
       routerLinkActive="active">Home</a>

    <a class="p-2 mx-2"
       routerLink="/test-error"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">Errors</a>

    <a class="p-2 mx-2"
       routerLink="/booking"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">Booking</a>

    <a class="p-2 mx-2"
       routerLink="/booking-train"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">Train ticket</a>

    <a class="p-2 mx-2"
       routerLink="/faqs"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">FAQS</a>

    <a class="p-2 mx-2"
       routerLink="/about"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">About</a>

    <a class="p-2 mx-2"
       routerLink="/contact"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">Contact</a>
  </nav>


  <div class="d-flex align-items-center" *ngIf="(authService.user$ | async) === null">
    <a class="me-3 py-2 d-flex icon-wrapper position-relative line-border-right"
       routerLink="/auth/login"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">
      <div class="position-relative">
        <i class="fa-light fa-right-to-bracket icon first-icon"
           [class.is-scrolled]="isScroll || checkStartsWith(href)"></i>
        <i class="fa-light fa-person-to-portal icon second-icon"
           [class.is-scrolled]="isScroll || checkStartsWith(href)"></i>
      </div>
      <span [class.is-scrolled]="isScroll || checkStartsWith(href)">Login</span>
    </a>

    <a class="me-3 py-2 icon-wrapper"
       routerLink="/auth/register"
       [class.is-scrolled]="isScroll || checkStartsWith(href)"
       routerLinkActive="active">
      <span [class.is-scrolled]="isScroll || checkStartsWith(href)">Register</span>
    </a>
  </div>

  <div class="d-flex align-items-center" *ngIf="(authService.user$ | async) as user">

    <div>
      <i class="fa-light fa-user me-2" [class.is-scrolled]="isScroll"></i>
      <span [class.is-scrolled]="isScroll || checkStartsWith(href)">Hi, </span>
      <a class="me-3 py-2 position-relative line-border-right"
         routerLink="/user/profile"
         [class.is-scrolled]="isScroll || checkStartsWith(href)"
         routerLinkActive="active">
        <strong>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</strong>
      </a>
    </div>

    <a class="me-3 py-2 hover-color"
       (click)="logout()">
      <i class="fa-light fa-right-from-bracket me-2" [class.is-scrolled]="isScroll"></i>
      <span [class.is-scrolled]="isScroll || checkStartsWith(href)">Logout</span>
    </a>

  </div>
</header>

<div *ngIf="checkStartsWith(href)"
  style="margin-bottom: 130px"></div>
