<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow">
  <div class="d-flex align-items-center">
    <h2>RailTicket<b class="small">Hub</b></h2>
  </div>

  <nav class="my-2 text-uppercase fs-4">
    <a class="p-2" routerLink="/"
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="active">Home</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>

    <a class="me-3 py-2 text-decoration-none"
       routerLink="/booking-train"
       routerLinkActive="active" >Train ticket</a>

    <a class="me-3 py-2 text-decoration-none"
       routerLink="/not-implemented"
       routerLinkActive="active" >PNR Status</a>

    <a class="me-3 py-2 text-decoration-none"
       routerLink="/not-implemented"
       routerLinkActive="active">Train running status</a>

    <a class="me-3 py-2 text-decoration-none"
       routerLink="/not-implemented"
       routerLinkActive="active" >Blogs</a>

    <div class="dropdown text-decoration-none" style="background: #fff;">
      <a>Mores <i class="fa-solid fa-caret-down"></i></a>
      <div class="dropdown-content">
        <a><i class="fa fa-circle-exclamation"></i> Train Enquiry </a>
        <a><i class="fa fa-cube"></i> Bulk Orders</a>
        <a><i class="fa fa-headphones"></i> Help</a>
      </div>
    </div>
  </nav>


  <div class="d-flex align-items-center">
    <a class="btn btn-outline-secondary me-2">Login</a>
    <a class="btn btn-outline-secondary me-3">Sign up</a>
  </div>
</header>
