<div class="container">
  <div class="d-flex flex-column align-items-center">

    <h1>Home Page</h1>

    <div class="alert alert-success" role="alert">
      <h4>Nếu mọi người thấy trang này thì có nghĩa là nó chưa được làm xong.</h4>
    </div>


    <img src="https://pbs.twimg.com/media/GBx4AjabgAAQDjR.jpg" style="width: 500px" alt="">



    <h5>Nên Gura cuti sẽ ở đây để chào mọi người <i class="fa-light fa-hand-wave"></i></h5>

    <h5>Chúc mọi người có thời gian coding vui vẻ nha.</h5>

    <h6 class="fst-italic text-success">Xách mông lên và code nào mọi người ơi uwu</h6>
  </div>
</div>
