<app-slider></app-slider>

<section class="bg-white py-5">
  <div class="container">
    <div class="row form-padding mt-2">
      <div class="col-8">
        <div class="row">

          <div class="col-6">
            <div class="form-group position-relative">
              <label>FROM</label>
              <div class="wrapper" [class.active]="isFromActivated">
                <div (click)="toggleSelect(true)" class="select-btn">
                  <span>{{fromCurrentStation}}</span>
                  <button type="button" class="input-icon">
                    <i class="fa-regular fa-chevron-down"></i>
                  </button>
                </div>
                <div class="content">
                  <div class="search">
                    <i class="fa fa-search"></i>
                    <input (keyup)="searchStation($event, true)"
                           (keyup.enter)="selectFirstInResult(fromResultStations, fromCurrentStation, true)"
                           (keyup.escape)="resetSearch(true)"
                           [(ngModel)]="fromSearchText"
                           #fromSearchInput
                           type="text"
                           placeholder="Search city, station..">
                  </div>
                  <ul class="options">
                    <li (click)="updateName(item.name, true)"
                        [class.selected]="item.name === fromCurrentStation"
                        *ngFor="let item of fromResultStations">
                      {{item.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group position-relative">
              <label>TO</label>
              <div class="wrapper" [class.active]="isToActivated">
                <div (click)="toggleSelect(false)" class="select-btn">
                  <span>{{toCurrentStation}}</span>
                  <button type="button" class="input-icon">
                    <i class="fa-regular fa-chevron-down"></i>
                  </button>
                </div>
                <div class="content">
                  <div class="search">
                    <i class="fa fa-search"></i>
                    <input (keyup)="searchStation($event, false)"
                           (keyup.enter)="selectFirstInResult(toResultStations, toCurrentStation, false)"
                           (keyup.escape)="resetSearch(false)"
                           [(ngModel)]="toSearchText"
                           #toSearchInput
                           type="text"
                           placeholder="Search city, station..">
                  </div>
                  <ul class="options">
                    <li (click)="updateName(item.name, false)"
                        [class.selected]="item.name === toCurrentStation"
                        *ngFor="let item of toResultStations">
                      {{item.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <app-departure-datepicker-field label="Depart"
                                            placeholder="Departure date.."
                                            icon="fa-calendar-days">
            </app-departure-datepicker-field>
          </div>

          <div class="col-6">
            <app-departure-datepicker-field label="Return"
                                            placeholder="Return date.."
                                            icon="fa-calendar-days">
            </app-departure-datepicker-field>
          </div>

        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-7">
            <div class="form-group">
              <label>JOURNEY</label>
              <ul class="nav nav-pills">
                <li class="">
                  <a>Round trip</a>
                </li>
                <!--  Active thêm class vào li   -->
                <li class="active">
                  <a>One way</a>
                </li>
              </ul>

            </div>
          </div>

          <div class="col-6" style="margin-top: 33px">
            <div class="form-group">
              <button id="searchButton" class="btn icon-search green btn-block bold"
                      style="width: 215px"
                      type="submit" name="input" value="Search">
                SEARCH
                <i class="fa-regular fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="padding-bottom: 50px; background-color: #F5F5F5; border-radius: 10px;"
     class="p-5 shadow panel-dark js-scrollto-section landing-section__intro text-center">
  <div class="container" style="max-width: 1670px">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h2 class="teko">WELCOME TO RAIL TICKET HUB</h2>
        <p class="landing-section__subtitle" style="color: #65696e">We make travel easy</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <img style="width: 200px;" class=" lazyloaded" data-src="https://booking.baolau.com/images/icons/welcome-1.png"
             src="https://booking.baolau.com/images/icons/welcome-1.png"> <br>
        <h4 class="teko">PLAN YOUR TRIP</h4>
        <p>Find the best route to your destination thanks to our travel search technology. Organize your trip anywhere,
          anytime.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <img style="width: 200px;" class=" lazyloaded" data-src="https://booking.baolau.com/images/icons/welcome-2.png"
             src="https://booking.baolau.com/images/icons/welcome-2.png"> <br>
        <h4 class="teko">SEARCH AND COMPARE</h4>
        <p>Compare all the transport options available for your journey and book your flights, trains, buses and ferries
          quickly in minutes.</p>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <img style="width: 200px;" class=" lazyloaded" data-src="https://booking.baolau.com/images/icons/welcome-3.png"
             src="https://booking.baolau.com/images/icons/welcome-3.png"> <br>
        <h4 class="teko">PAY EASILY AND SAFELY</h4>
        <p>Choose from multiple payment methods. We accept international credit or debit card and bank transfer for
          selected currencies.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <img style="width: 200px;" class=" lazyloaded" data-src="https://booking.baolau.com/images/icons/welcome-4.png"
             src="https://booking.baolau.com/images/icons/welcome-4.png"> <br>
        <h4 class="teko">READY TO TRAVEL</h4>
        <p>Receive your itinerary and your e-tickets via email. You can print the boarding pass or carry on your mobile
          phone, ready for boarding.</p>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #74A600 ; color: #fff;text-align: center ;border-radius: 10px; padding: 30px;"
     class="landing-section--pattern container-fluid">
  <div class="container">
    <h2 class="teko" style="color:white; ">TOP DESTINATIONS</h2>
    <p class="landing-section__subtitle">What do you expect from Asia? Cities and monuments, palaces and pagodas,
      evergreen forests and deep jungles, limestone mountains and natural parks, pristine beaches and lost islands...
      whatever it is, you can find it in our list of destinations.</p>
  </div>
</div>

<div style="background-color: #2D3E52 ; color: #fff;text-align: center ; border-radius: 10px;  padding: 30px;"
     class="landing-section--pattern container-fluid">
  <div class="container">
    <h2 class="teko" style="color:white; ">ALL THE TRANSPORTATION IN ONE PLACE</h2>
    <p class="landing-section__subtitle">Whether you travel by air, rail, land or sea, you can find all the information
      to plan your journey through Asia here.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <img class=" lazyloaded" style="width: 350px; height: 200px;"
           data-src="https://www.baolau.com/images/blogs/transportation_guides/train-vietnam.jpg"
           src="https://www.baolau.com/images/blogs/transportation_guides/train-vietnam.jpg">
      <div style="display: inline-block; text-align: center; padding-top: 30px;">
        <ul>
          <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
            href="https://www.baolau.com/en/s/Hanoi/Ninh-Binh/train" target="_blank">Hanoi to Ninh Binh</a></strong>
          </li>
          <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
            href="https://www.baolau.com/en/s/Hanoi/Hue/train" target="_blank">Hanoi to Hue</a></strong></li>
          <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
            href="https://www.baolau.com/en/s/Hue/Da-Nang/train" target="_blank">Hue to Da Nang</a></strong></li>
          <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
            href="https://www.baolau.com/en/s/Ho-Chi-Minh/Nha-Trang/train" target="_blank">Ho Chi Minh to Nha Trang</a></strong>
          </li>
          <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
            href="https://www.baolau.com/en/s/Ho-Chi-Minh/Phan-Thiet/train" target="_blank">Ho Chi Minh to Phan
            Thiet</a></strong></li>
        </ul>
        <div style="padding-top: 8px; padding-bottom: 8px;">
          <a href="https://www.baolau.com/en/transportation/thailand/trains" class="small-text"
             style="border: 1px solid #EDA44F; border-radius: 3px; text-align: center; color: #EDA44F; padding: 10px 18px;">ALL
            TRAIN ROUTES IN VIETNAM </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <img class=" lazyloaded" style="width: 350px; height: 200px;"
           data-src="https://www.baolau.com/images/blogs/transportation_guides/train-cambodia.jpg"
           src="https://www.baolau.com/images/blogs/transportation_guides/train-cambodia.jpg">
      <div style="text-align: center;">
        <div style="display: inline-block; text-align: center; padding-top: 30px;">
          <ul>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Phnom-Penh/Battambang/train" target="_blank">Phnom Penh to
              Battambang</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Phnom-Penh/Pursat/train" target="_blank">Phnom Penh to
              Pursat</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Phnom-Penh/Kampot/train" target="_blank">Phnom Penh to
              Kampot</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Phnom-Penh/Krong-Kep/train" target="_blank">Phnom Penh to
              Kep</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Phnom-Penh/Sihanoukville/train" target="_blank">Phnom Penh to
              Sihanoukville</a></strong></li>
          </ul>
        </div>
        <div style="padding-top: 8px; padding-bottom: 8px;">
          <a href="https://www.baolau.com/en/transportation/cambodia/trains" class="small-text"
             style="border: 1px solid #FFC000; border-radius: 3px; text-align: center; color: #FFC000; padding: 10px 18px;">ALL
            TRAIN ROUTES IN CAMBODIA </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <img class=" lazyloaded" style="width: 350px; height: 200px;"
           data-src="https://www.baolau.com/images/blogs/transportation_guides/train-thailand.jpg"
           src="https://www.baolau.com/images/blogs/transportation_guides/train-thailand.jpg">
      <div style="text-align: center;">
        <div style="display: inline-block; text-align: center; padding-top: 30px;">
          <ul>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Bangkok/Chiang-Mai/train" target="_blank">Bangkok to Chiang
              Mai</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Bangkok/Nong-Khai/train" target="_blank">Bangkok to Nong
              Khai</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Bangkok/Ayutthaya/train" target="_blank">Bangkok to
              Ayutthaya</a></strong></li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Bangkok/Hua-Hin/train" target="_blank">Bangkok to Hua Hin</a></strong>
            </li>
            <li><i class="icon icon-train inline" style="font-size: 20px;"></i> <strong><a
              href="https://www.baolau.com/en/s/Bangkok/Surat-Thani/train" target="_blank">Bangkok to Surat
              Thani</a></strong></li>
          </ul>
        </div>
        <div style="padding-top: 8px; padding-bottom: 8px;">
          <a href="https://www.baolau.com/en/transportation/thailand/trains" class="small-text"
             style="border: 1px solid #EDA44F; border-radius: 3px; text-align: center; color: #EDA44F; padding: 10px 18px;">ALL
            TRAIN ROUTES IN THAILAND </a>
        </div>
      </div>
    </div>
  </div>
</div>


