<div class="col-md-6">
  <nb-card>
    <nb-card-header>
      <div class="d-flex justify-content-between">
        Define New Train
        <button nbButton type="submit"
        routerLink="/managements/train-and-carriage/train/"
        status="primary">
        Back to list
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="trainForm" (ngSubmit)="onSubmit()">

        <app-input-field [control]="trainForm.get('name')"
                         [label]="'Name'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Name of train..'">
        </app-input-field>

        <div class="form-group">
          <label class="label">Train Company</label>
          <input #autoInput
                 nbInput
                 fullWidth
                 type="text"
                 [class.status-danger]="trainForm.get('trainCompanyId')?.hasError('required') && (trainForm.get('trainCompanyId')?.touched || isSubmitted)"
                 (input)="onChange()"
                 (blur)="onBlur()"
                 placeholder="Enter train name"
                 [nbAutocomplete]="autoTrainName" />
          <span class="text-danger"
                *ngIf="trainForm.get('trainCompanyId')?.hasError('required')
                && (trainForm.get('trainCompanyId')?.touched || isSubmitted)
                && autoInput.value.length <= 0">
            Train company is required
          </span>

          <nb-autocomplete #autoTrainName (selectedChange)="onSelectionChange($event)">
            <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
              {{ option.name }}
            </nb-option>
          </nb-autocomplete>
        </div>

        <app-input-field [control]="trainForm.get('status')"
                         [label]="'Status'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Status'">
        </app-input-field>


        <ul *ngIf="errorMessages.length > 0">
          <li class="text-danger" *ngFor="let item of errorMessages">{{item}}</li>
        </ul>

        <button type="submit" nbButton status="success" class="float-right">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>




