<div class="col-md-6">
  <nb-card>
    <nb-card-header>
      <div class="d-flex justify-content-between">
        Define New Train
        <button nbButton type="submit"
        routerLink="/managements/train-and-carriage/train/"
        status="primary">
        Back to list
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="trainForm" (ngSubmit)="onSubmit()">

        <app-input-field [control]="trainForm.get('name')"
                         [label]="'Name'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Name of train..'">
        </app-input-field>

        <div class="form-group">
          <label class="label">Train Company</label>
          <nb-select formControlName="trainCompanyId" placeholder="Select train company.." fullWidth>
            <nb-option *ngFor="let item of trainCompanies" [value]="item.id">{{item.name}}</nb-option>
          </nb-select>

          <span class="text-danger"
                *ngIf="trainForm.get('trainCompanyId')?.hasError('required')
                && (trainForm.get('trainCompanyId')?.touched || isSubmitted)">
            Train company is required
          </span>
        </div>

        <app-input-field [control]="trainForm.get('status')"
                         [label]="'Status'"
                         [isSubmitted]="isSubmitted"
                         [placeholder]="'Status'">
        </app-input-field>


        <ul *ngIf="errorMessages.length > 0">
          <li class="text-danger" *ngFor="let item of errorMessages">{{item}}</li>
        </ul>

        <button type="submit" nbButton status="success" class="float-right">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>




