<nb-card accent="info">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <form class="position-relative" (ngSubmit)="onSearch()">
        <input nbInput placeholder="Name, phone, email.."
               name="searchTerm"
               (keyup.escape)="onResetSearch()"
               [(ngModel)]="currentSearchTerm"
               style="padding-right: 32px">
        <nb-icon icon="search-outline" pack="eva"
                 class="position-absolute"
                 (click)="onSearch()"
                 style="top: 25%; right: 8px; cursor: pointer;"></nb-icon>
      </form>

      <button nbButton status="primary" class="mr-3"
              routerLink="/managements/user/add">
        Create User
      </button>
    </div>
  </nb-card-header>
  <nb-card-body style="padding-bottom: 0">
    <table class="table mb-0">
      <thead class="table-borderless">
      <tr>
        <th scope="col" style="width: 5%">#</th>
        <th scope="col">
          <span (click)="onSort('firstNameAsc')"
                [class.text-primary]="currentSort.includes('firstName')">
            First Name
            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.firstName"></nb-icon>
            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.firstName"></nb-icon>
          </span>
        </th>

        <th scope="col">
          <span (click)="onSort('lastNameAsc')"
                [class.text-primary]="currentSort.includes('lastName')">
            Last name
            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.lastName"></nb-icon>
            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.lastName"></nb-icon>
          </span>
        </th>

        <th scope="col">
          <span (click)="onSort('emailAsc')"
                [class.text-primary]="currentSort.includes('email')">
            Email
            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.email"></nb-icon>
            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.email"></nb-icon>
          </span>
        </th>

        <th scope="col" style="width: 12%">
          <span (click)="onSort('phoneNumberAsc')"
                [class.text-primary]="currentSort.includes('phoneNumber')">
            Phone number
            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.phoneNumber"></nb-icon>
            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.phoneNumber"></nb-icon>
          </span>
        </th>

        <th scope="col" style="width: 10%">
          <span (click)="onSort('isLockedAsc')"
                [class.text-primary]="currentSort.includes('isLocked')">
            Is Locked
            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.isLocked"></nb-icon>
            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.isLocked"></nb-icon>
          </span>
        </th>

        <th scope="col" style="width: 10%">
          <span style="cursor: none">
<!--          <span (click)="onSort('createdAtAsc')">-->
<!--                [class.text-primary]="currentSort.includes('createdAt') || currentSort === ''">-->
            Roles
<!--            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.createdAt"></nb-icon>-->
<!--            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.createdAt"></nb-icon>-->
          </span>
        </th>

        <th scope="col" style="width: 15%">
          <span (click)="onSort('createdAtAsc')"
                [class.text-primary]="currentSort.includes('createdAt') || currentSort === ''">
            Created At
            <nb-icon icon="arrow-down-outline" pack="eva" *ngIf="!sortStates.createdAt"></nb-icon>
            <nb-icon icon="arrow-up-outline" pack="eva" *ngIf="sortStates.createdAt"></nb-icon>
          </span>
        </th>

        <th scope="col" class="text-right" style="width: 15%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of users; let index = index">
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>{{ item.isLocked }}</td>
        <td>{{ item.roles }}</td>
        <td>{{ item.createdAt | date:'medium' }}</td>
        <td class="text-right">
          <button nbButton status="info" class="mr-3" (click)="openShowDialog(item.id)">
            <nb-icon icon="eye-outline" pack="eva"></nb-icon>
          </button>
          <button nbButton status="primary" class="mr-3"
                  routerLink="/managements/user/{{item.id}}/edit">
            <nb-icon icon="edit-outline" pack="eva"></nb-icon>
          </button>
          <button nbButton status="danger" (click)="openConfirmDialog(item.id, item.name)">
            <nb-icon icon="trash-outline" pack="eva"></nb-icon>
          </button>
        </td>
      </tr>

      <tr *ngIf="users.length <= 0">
        <td colspan="7" class="text-center">
          <div class="text-muted py-4">No data found.</div>
        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <app-pagination
      selectOption="10"
      [pagination]="pagination"
      (pageChanged)="onPageChanged($event)"
      (pageSizeChanged)="onPageSizeChanged($event)">
    </app-pagination>
  </nb-card-footer>
</nb-card>

