<div class="container mt-5">
  <!-- Contact Deitals -->

  <div class="row">
    <div class="col-4 py-3 px-5 bg-body rounded-3 shadow" style="min-height: 310px">
      <div class="text-body-secondary">
        <h3 class="fw-medium">Personal information</h3>
        <hr>
        <ul *ngIf="(authService.user$ | async) as user">
          <li>
            <div class="d-flex justify-content-between">
              <span class="fw-medium">First name</span>
              <span class="text-body-tertiary">{{user.firstName | titlecase}}</span>
            </div>
          </li>
          <li>
            <div class="d-flex justify-content-between">
              <span class="fw-medium">Last name</span>
              <span class="text-body-tertiary">{{user.lastName | titlecase}}</span>
            </div>
          </li>
          <li>
            <div class="d-flex justify-content-between">
              <span class="fw-medium">Email</span>
              <span class="text-body-tertiary">{{user.email}}</span>
            </div>
          </li>
          <li>
            <div class="d-flex justify-content-between">
              <span class="fw-medium">Phone number</span>
              <span class="text-body-tertiary">{{user.phoneNumber ?? 'Not updated yet'}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-8">
      <div>
        <tabset>
          <tab heading="Change personal information">
            <div class="p-4 bg-body rounded-3 shadow">
              <form class="form row">
                <div class="col-6">
                  <label class="form-label fw-normal text-body-secondary">First name</label>
                  <input type="text" class="form-control bg-body-tertiary text-body-tertiary">
                </div>

                <div class="col-6">
                  <label class="form-label fw-normal text-body-secondary">Last name</label>
                  <input type="text" class="form-control bg-body-tertiary text-body-tertiary">
                </div>

                <div class="col-6 mt-3">
                  <label class="form-label fw-normal text-body-secondary">Phone number</label>
                  <input type="text" class="form-control bg-body-tertiary text-body-tertiary">
                </div>

                <div class="mt-4 text-end">
                  <button type="button" class="btn btn-warning shadow">Update</button>
                </div>
              </form>
            </div>
          </tab>
          <tab heading="Change password">
            <div class="p-4 bg-body rounded-3 shadow">
              <form class="form row">
                <div class="col-6">
                  <label class="form-label fw-normal text-body-secondary ">New password</label>
                  <input type="password" class="form-control bg-body-tertiary text-body-tertiary">
                </div>

                <div class="col-6">
                  <label class="form-label fw-normal text-body-secondary ">Confirm password</label>
                  <input type="password" class="form-control bg-body-tertiary text-body-tertiary">
                </div>

                <div class="mt-4 text-end">
                  <button type="button" class="btn btn-warning shadow">Update</button>
                </div>
              </form>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
