    <div id="investors">
    <div class="container">
    <div class="gap gap-medium"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">
    <br>
    <p>
    Baolau is the leading travel search engine in Asia.
    </p>
    <p>
    Our mission is to <span class="bold">interconnect cities, compare travel routes and facilitate ticket booking for any means of transportation: flights, trains, buses and ferries</span>.
    </p>
    <p>
    For this purpose, we cooperate with transport providers to aggregate thousands of routes, list schedules and prices, and connect with the reservation systems.
    </p>
    <p>
    We make travel easy by integrating <span class="bold">all the transportation in one place</span>.
    </p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="gap gap-small hidden-lg hidden-md"></div>
    <img src="https://www.baolau.com/images/about/compare.png">
    </div>
    <div class="clearfix"></div>
    <div class="gap gap-medium hidden-sm hidden-xs"></div>
    <div class="gap gap-small hidden-lg hidden-md"></div>
    </div>
    
    <div class="landing-banner__footer js-landing-banner__footer text-center" style="max-width: 100%;">
    <div id="product" style="background-color: #2d3e52;" class="landing-section--pattern">
    <div class="container">
    <h2 class="teko" style="color:white; ">PRODUCT</h2>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="gap gap-medium hidden-sm hidden-xs"></div>
    <div class="gap gap-small hidden-lg hidden-md"></div>
    <h2 style="text-align: center;">How it works?</h2>
    <div class="gap gap-small"></div>
    <div class="col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
    <img src="https://www.baolau.com/images/about/ticketing.png">
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
    <p>
    Users can search in our website how to travel between two cities and <span class="bold">find all the flights, trains, buses and ferries available</span>. We filter and compare the results, so users can select the most convenient option according to their needs.
    </p>
    <p>
    We <span class="bold">accept multiple payment methods</span> in association with Stripe and other payment gateways.
    <ul>
    <li>&nbsp;&nbsp;<i class="far fa-credit-card" style="font-size: 18px;"></i>&nbsp;&nbsp;International credit or debit cards</li>
    <li>&nbsp;&nbsp;<i class="fa fa-wallet" style="font-size: 20px;"></i>&nbsp;&nbsp;E-wallets</li>
    <li>&nbsp;&nbsp;<i class="fa fa-landmark" style="font-size: 20px;"></i>&nbsp;&nbsp;Bank transfer for selected currencies</li>
    </ul>
  
    <p>
    Ticket booking is processed easily in minutes from any laptop or mobile phone.
    </p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 hidden-lg hidden-md">
    <div class="gap gap-small"></div>
    <img src="https://www.baolau.com/images/about/ticketing.png">
    </div>
    <div class="clearfix"></div>
    <div class="gap gap-small hidden-sm hidden-xs"></div>
    <div class="col-md-9 col-sm-12 col-xs-12">
    <br><br>
    <p>
    Once the reservation is confirmed, customers <span class="bold">receive the itinerary and the e-tickets by email</span>.
    </p>
    <p>
    The electronic tickets are <span class="bold">valid for boarding</span> or can be used to <span class="bold">collect the boarding pass at the airport, train station, bus terminal or port of departure</span>, depending on the requirements of the transport service.
    </p>
    <p>
    Passengers can print a copy of the e-ticket in advance or carry it in their mobile phones.
    </p>
    <p>
    Ready to book on-the-go and travel without a hassle.
    </p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="gap gap-small hidden-lg hidden-md"></div>
    <img src="https://www.baolau.com/images/about/boarding.png">
    </div>
    <div class="clearfix"></div>
    <div class="gap gap-small"></div>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12" style="padding-left: 20px;">
    <div class="clearfix"></div>
    <div class="gap gap-small"></div>
    </div>
    
    <div class="text-center">
    <div id="technology" style="background-color: #ffbb00;" class="landing-section--pattern">
    <div class="container">
    <h2 class="teko" style="color:white; ">TECHNOLOGY</h2>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="gap gap-medium hidden-sm hidden-xs"></div>
    <div class="gap gap-small hidden-lg hidden-md"></div>
    <h2 style="text-align: center;">Travel search</h2>
    <div class="gap gap-small"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <p>
    Our unique <span class="bold">travel search algorithm</span> can calculate routes from A to B aggregating hundreds of results from flight, train, bus and ferry providers.
    </p>
    <p>
    Thanks to our technology, you can <span class="bold">find the cheapest or fastest route</span> as well as <span class="bold">non-direct routes combining different means of transportation</span> with the optimal transit.
    </p>
    <p>
    Try it for yourself!
    </p>
    </div>