<div class="banner">
  <div class="bg-banner"
       style="background: url(https://a.cdn-hotels.com/gdcs/production166/d1307/5f56d88f-47dd-4f14-82dd-b21aee9c4c44.jpg) center center no-repeat;background-size: cover">
  </div>
  <div class="banner-content">
    <div class="container">
      <h1 class="teko text-uppercase">About us</h1>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-8  col-xs-12">
      <br>
      <p>
        <span class="bold">Swift Rails</span> is the leading travel search engine in Asia.
      </p>
      <p>
        Our mission is to <span class="bold">interconnect cities, compare travel routes and facilitate ticket booking for any means of transportation: flights, trains, buses and ferries</span>.
      </p>
      <p>
        For this purpose, we cooperate with transport providers to aggregate thousands of routes, list schedules and
        prices, and connect with the reservation systems.
      </p>
      <p>
        We make travel easy by integrating <span class="bold">all the transportation in one place</span>.
      </p>
    </div>
    <div class="col-3  col-xs-12">
      <img src="https://www.baolau.com/images/about/compare.png">
    </div>
  </div>
</div>
<div class="landing-banner__footer js-landing-banner__footer text-center" style="max-width: 100%;">
  <div id="product" style="background-color: #2d3e52;" class="landing-section--pattern">
    <div class="container mt-5">
      <h2 class="teko" style="color:white; ">PRODUCT</h2>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <h2 style="text-align: center;">How it works?</h2>
    <div class="col-md-3 col-xs-12 hidden-sm hidden-xs">
      <img src="https://www.baolau.com/images/about/ticketing.png">
    </div>
    <div class="col-md-9 col-xs-12">
      <p>
        Users can search in our website how to travel between two cities and <span class="bold">find all the flights, trains, buses and ferries available</span>.
        We filter and compare the results, so users can select the most convenient option according to their needs.
      </p>
      <p>
        We <span class="bold">accept multiple payment methods</span> in association with Stripe and other payment
        gateways.
      <ul>
        <li><i class="far fa-credit-card" style="font-size: 18px;"></i>&nbsp;&nbsp;International credit or
          debit cards
        </li>
        <li><i class="fa fa-wallet" style="font-size: 20px;"></i>&nbsp;&nbsp;E-wallets</li>
        <li><i class="fa fa-landmark" style="font-size: 20px;"></i>&nbsp;&nbsp;Bank transfer for selected
          currencies
        </li>
      </ul>

      <p>
        Ticket booking is processed easily in minutes from any laptop or mobile phone.
      </p>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-9  col-xs-12">
      <br><br>
      <p>
        Once the reservation is confirmed, customers <span
        class="bold">receive the itinerary and the e-tickets by email</span>.
      </p>
      <p>
        The electronic tickets are <span class="bold">valid for boarding</span> or can be used to <span class="bold">collect the boarding pass at the airport, train station, bus terminal or port of departure</span>,
        depending on the requirements of the transport service.
      </p>
      <p>
        Passengers can print a copy of the e-ticket in advance or carry it in their mobile phones.
      </p>
      <p>
        Ready to book on-the-go and travel without a hassle.
      </p>
    </div>
    <div class="col-md-3  col-xs-12">
      <img src="https://www.baolau.com/images/about/boarding.png">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">In trusted !</h2>
    <div class="col-md-3">
      <img src="https://www.baolau.com/images/about/r/bc09a4f33b4bd6b66ad4da2a91be8807.png"
           style="width: 150px; display: inline;">
    </div>
    <div class="col-md-9 col-xs-12" style="padding-left: 20px;">
      <div class="gap gap-small hidden-sm hidden-xs"></div>
      <p>We earned <span class="bold">mentions and recommendations in the best independent travel guides</span>
        published by Lonely Planet, DK Eyewitness, Rough Guides, DuMont Reise-Handbuch, Le Routard, Enjoy 세계여행 시리즈, ...
      </p>
      <ul>
        <li><span class="italic">"Easy to use"</span></li>
        <li><span class="italic">"Efficient website"</span></li>
        <li>
          <span class="italic">"Schedules, fares, information and advance bookings are available at www.railtickethub.com"</span>
        </li>
      </ul>
      <p>
        Read about us when you plan your next trip in Asia.
      </p>
      <div class="gap gap-small"></div>
    </div>
  </div>
</div>
