<nb-card>
  <nb-card-header>Seat type details</nb-card-header>
  <nb-card-body>
    <section style="min-width: 600px">
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="name" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Service Charge</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth  [value]="serviceCharge" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <textarea nbInput fullWidth style="color: black"  disabled>{{description}}</textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="status" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Created At</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth [value]="createdAt | date: 'medium'" disabled>
        </div>
      </div>

    </section>

  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>

      <div>
        <button nbButton hero status="primary" class="mr-3" (click)="onEdit()">Edit</button>
        <button nbButton hero status="danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
