<nb-card style="min-width: 600px;">
    <nb-card-header>
      Confirm Deletion
    </nb-card-header>
    <nb-card-body>
      Are you sure you want to delete Departure Date Difference <b class="text-primary">{{ticketCode}}</b> ?
      <p class="mt-3">This action cannot be undone.</p>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button nbButton hero status="danger" class="mr-3" (click)="onDelete()">Delete it</button>
        <button nbButton hero status="primary" (click)="dismiss()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
    