<!--<pre>-->
<!--  currentSelectSeats-->
<!--  {{ bookingService.currentSelectSeats | json }}-->
<!--  currentSelectPassengers-->
<!--  {{ bookingService.currentSelectPassengers | json }}-->
<!--  currentSelectSchedule-->
<!--  {{ bookingService.currentSelectSchedule | json }}-->
<!--</pre>-->

<h2>Price breakdown</h2>
<div class="horizontal-divider"></div>
<div class="row bg-white mb-3 ms-0 me-0">
  <div class="col" style="padding: 20px 3% 24px;">
    <span class="bold station-title">
      {{ bookingService.currentSelectDepartureSchedule?.departureStationName }}
      <i class="fa-solid fa-train"></i>
      {{ bookingService.currentSelectDepartureSchedule?.arrivalStationName }}
    </span>
  </div>

  <div class="horizontal-divider"></div>
  <div class="col-12 d-flex" style="padding: 14px 3% 18px 3%;">
    <div class="row w-100">
      <div class="col-3">
        <i class="fa-light fa-calendar-days me-2"></i>
        {{ bookingService.currentSelectDepartureSchedule?.departureTime | date: 'fullDate' }}
      </div>
      <div class="col-3">
        <i class="fa-light fa-clock"></i>
        <span class="blue-text bold">
          {{ bookingService.currentSelectDepartureSchedule?.departureTime | date: 'shortTime' }}
        </span>
      </div>
      <div class="col-3">
        <span class="bold">
          {{ bookingService.currentSelectDepartureSchedule?.trainCompanyName }}
        </span>
        {{ bookingService.currentSelectDepartureSchedule?.trainName }}
      </div>
    </div>
  </div>
  <div class="col-12 d-flex border-top"
       *ngFor="let item of bookingService.currentSelectPassengers; let i = index"
       style="padding: 14px 3% 18px 3%;">
    <div class="row w-100">
      <div class="col-3">
        <span class="bold">
          {{ i + 1 }}. {{ item.title == 'male' ? 'Mr.' : 'Ms.' }} {{ item.fullName | titlecase }}
        </span>
      </div>
      <div class="col-3">
        {{ item.passportNumber }}
      </div>
      <div class="col-3">
        {{ bookingService.currentSelectDepartureSchedule?.selectedCarriageType?.name }}
      </div>

      <div class="col-3 text-end yellow-text"
           *ngIf="bookingService.currentSelectDepartureSchedule && bookingService.currentSelectDepartureSchedule.selectedCarriageType">
        {{
          bookingService.currentSelectDepartureSchedule.price
          + bookingService.currentSelectDepartureSchedule.selectedCarriageType.serviceCharge | currency:'VND'
        }}
      </div>

      <div class="offset-6 col-3" *ngIf="bookingService.currentSelectSeats">
        Seat type {{ bookingService.currentSelectSeats[i].seatTypeName }}
      </div>

      <div class="col-3 text-end yellow-text" *ngIf="bookingService.currentSelectSeats">
        {{ bookingService.currentSelectSeats[i].serviceCharge | currency:'VND' }}
      </div>
    </div>
  </div>

</div>

<div class="row bg-white mb-3 ms-0 me-0 mt-3">
  <div class="col-12 d-flex" style="padding: 14px 3% 18px 3%;">
    <div class="row w-100">
      <div class="offset-6 col-3">
        <span class="bold">
          Total
        </span>
      </div>

      <div class="col-3 text-end yellow-text">
        <span class="bold yellow-text">
          {{ totalAmount | currency:'VND' }}
        </span>
      </div>
    </div>

  </div>
</div>

<div class="mt-2 mb-2" *ngIf="paymentStatus == 'PaymentCancel'">
  <alert type="danger">
    Your transaction has been cancelled!
  </alert>
</div>

<div class="mt-2 mb-2" *ngIf="paymentStatus == 'PaymentFailed'">
  <alert type="danger">
    Your transaction has been failed! Please try again.
  </alert>
</div>

<div class="mt-3 mb-5">
  <a class="btn green w-100" (click)="onSubmit()">
    <span class="bold">PROCEED TO PAYMENT</span>
  </a>
</div>
