<div class="row" *ngIf="dashboardDataToday">
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="d-flex p-2">

        <div class="icon rounded d-flex align-items-center justify-content-center"
             style="background-color: #3366ff">
          <nb-icon icon="person-add-outline" pack="eva"></nb-icon>
        </div>

        <div class="ml-3">
          <div class="h5">{{ dashboardDataToday.userRegistered }}</div>
          <div class="status paragraph-1">Newly registered user</div>
        </div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="d-flex p-2">

        <div class="icon rounded d-flex align-items-center justify-content-center"
             style="background-color: #00d68f">
          <nb-icon icon="activity-outline" pack="eva"></nb-icon>
        </div>

        <div class="ml-3">
          <div class="h5">{{ dashboardDataToday.ticketSold }}</div>
          <div class="status paragraph-1">Tickets were sold today</div>
        </div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="d-flex p-2">

        <div class="icon rounded d-flex align-items-center justify-content-center"
             style="background-color: #0095ff">
          <nb-icon icon="trending-up-outline" pack="eva"></nb-icon>
        </div>

        <div class="ml-3">
          <div class="h5">{{ dashboardDataToday.totalRevenue | currency: 'VND' }}</div>
          <div class="status paragraph-1">Total revenue today</div>
        </div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="d-flex p-2">

        <div class="icon rounded d-flex align-items-center justify-content-center"
             style="background-color: #ffaa00">
          <nb-icon icon="minus-outline" pack="eva"></nb-icon>
        </div>

        <div class="ml-3">
          <div class="h5">{{ dashboardDataToday.refundAmount | currency: 'VND' }}</div>
          <div class="status paragraph-1">Total ticket refund amount</div>
        </div>
      </div>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Upcoming Schedules</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-3">
            <span class="text-center upcoming-title">Schedule</span>
          </div>
          <div class="col-2">
            <span class="text-center upcoming-title">Date</span>
          </div>
          <div class="col-2">
            <span class="text-center upcoming-title">Time</span>
          </div>
          <div class="col-2">
            <span class="text-center upcoming-title">Seat Booked</span>
          </div>
          <div class="col-3">
            <span class="text-center upcoming-title">Seat Available</span>
          </div>
          <div class="divider"></div>
        </div>

        <div class="row upcoming-row" *ngFor="let schedule of upcomingSchedules">
          <div class="col-3">
            <div class="paragraph-1">{{ schedule.scheduleName | titlecase }}</div>
          </div>
          <div class="col-2">
            <div class="paragraph-1">{{ schedule.departureTime | date:'mediumDate' }}</div>
          </div>
          <div class="col-2">
            <div class="paragraph-1">{{ schedule.departureTime | date: 'shortTime' }}</div>
          </div>
          <div class="col-2">
            <div class="paragraph-1" style="color: #00d68f">{{ schedule.seatsBooked }}</div>
          </div>
          <div class="col-3">
            <div class="paragraph-1 text-danger">{{ schedule.seatsAvailable }}</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Revenue and refund last 7 Days</nb-card-header>
      <nb-card-body>
        <app-barchartjs [last7DaysSummary]="last7DaysSummary"></app-barchartjs>
      </nb-card-body>
    </nb-card>
  </div>
</div>
