<div class="d-flex justify-content-center" style="margin-top: 15vh">
  <nb-card style="width: 550px; padding-bottom: 30px">
    <nb-card-body>
      <div>
        <div class="text-center">
          <h2>Login</h2>
          <span>Hello! Log in with your email</span>
        </div>

        <div class="mt-5">
          <label class="label">Email address:</label>
          <input type="text" nbInput fullWidth>
          <span class="text-danger">
            <small>Email is required</small>
          </span>
        </div>

        <div class="mt-4">
          <label class="label d-flex justify-content-between">
            Password:
            <a class="font-weight-light">Forgot password?</a>
          </label>
          <input type="password" nbInput fullWidth>
          <span class="text-danger">
            <small>Password is required</small>
          </span>
        </div>

        <div class="mt-5">
          <button nbButton fullWidth size="large" status="primary">Log In</button>
        </div>

      </div>
    </nb-card-body>
  </nb-card>

</div>
