<div class="d-flex justify-content-center" style="margin-top: 15vh">
  <nb-card style="width: 550px; padding-bottom: 30px">
    <nb-card-body>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
          <h2 class="pt-4">Change password</h2>
          <span>Please set a new password</span>
        </div>

        <div class="mt-5">
          <label class="label">New password:</label>
          <input type="password" nbInput fullWidth formControlName="password"
            [class.status-danger]="submitted && resetPasswordForm.get('password')?.errors">
          <span class="text-danger small" *ngIf="submitted && resetPasswordForm.get('password')?.hasError('required')">
            Password is require
          </span>
          <span class="text-danger small" *ngIf="submitted && resetPasswordForm.get('password')?.hasError('minlength')
                || submitted && resetPasswordForm.get('password')?.hasError('maxlength')">
            Password must be at least 6, and maximum 15 characters
          </span>
        </div>

        <div class="mt-5">
          <label class="label">Confirm password:</label>
          <input type="password" nbInput fullWidth formControlName="confirmPassword"
            [class.status-danger]="submitted && resetPasswordForm.get('confirmPassword')?.errors">
          <span class="text-danger small"
            *ngIf="submitted && resetPasswordForm.get('confirmPassword')?.hasError('required')">
            Confirm password is required
          </span>
          <span class="text-danger small" *ngIf="submitted && !resetPasswordForm.get('confirmPassword')?.hasError('required')
                && resetPasswordForm.get('confirmPassword')?.hasError('mismatch')">
            Password mismatch
          </span>
        </div>

        <div class="mt-5">
          <button nbButton fullWidth type="submit" size="large" status="primary">Change password</button>
        </div>

      </form>
    </nb-card-body>
  </nb-card>

</div>