<div class="col-md-6">

    <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success">
      <nb-card-header>
        <div class="d-flex justify-content-between">
          Edit Train Station
          <button type="submit" nbButton
                  routerLink="/managements/railway/train-station"
                  status="primary">Back to list
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

          <input type="hidden" formControlName="id">

          <app-input-field [control]="updateForm.get('name')"
                           [label]="'Name'"
                           [placeholder]="'Name of train station..'">
          </app-input-field>
          <app-input-field [control]="updateForm.get('address')"
                  [label]="'Address'"
                  [placeholder]="'Address..'">
          </app-input-field>

          <app-input-field [control]="updateForm.get('coordinateValue')"
                           [label]="'coordinateValue'"
                           [placeholder]="'coordinateValue..'">
          </app-input-field>
          <app-input-field [control]="updateForm.get('status')"
                           [label]="'Status'"
                           [placeholder]="'Status.'">
          </app-input-field>

          <ul *ngIf="errorMessages.length > 0">
            <li class="text-danger" *ngFor="let item of errorMessages">{{item}}</li>
          </ul>

          <button type="submit" nbButton status="success" class="float-right">Save</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
