a {
  padding-left: 0;
  color: #fb0;
  text-decoration: none;
}

h5 {
  margin: 25px 0;
}

h6 {
  color: #63676b;
  font-weight: 600;
  margin-bottom: 25px;
}

p {
  color: #7a8085;
  letter-spacing: .8px;
  line-height: 1.8;
  margin-bottom: 25px;
}
