<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirm Cancellation</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="cancellationForm">
    <h5>Information review: </h5>
    <div class="row">
      <div class="col-12 mt-2">
        <label>Ticket Code</label>
        <input type="text" class="form-control"
               value="{{ticket?.code}}"
               disabled />
      </div>
      <div class="col-12 mt-2">
        <label>Passenger Name</label>
        <input type="text" class="form-control"
               value="{{ticket?.passengerName}}"
               disabled />
      </div>

      <div class="col-12 mt-2">
        <label>Price</label>
        <input type="text" class="form-control"
               value="{{ticket?.price | currency:'VND'}}"
               disabled />
      </div>
    </div>

    <div class="mt-5">
      <label>Reason for cancellation. <span class="fst-italic small">(Optional)</span></label>
      <textarea class="form-control" formControlName="reason"></textarea>
    </div>

    <span class="small text-danger">
      Please note that the refund amount will be calculated based on the
      <a
        href="https://localhost:4200/help"
        target="_blank">Swift Rails Refund Policy</a>.
    </span>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Confirm Cancellation
  </button>
  <button type="button" (click)="dismiss()" class="btn text-white" style="background-color: #9ccd19">
    Keep Ticket
  </button>
</div>
