<div class="container-fluid">
    <div class="row">
        <div class="head-content col-md-12">
            <div class="d-flex justify-content-center  mt-5" >
                <img src="https://www.railofy.com/images/v5/food-irctc-logo.svg" alt="Logo" style="width: 50px; height: 50px;">
                <h2 style="color: #FFFF00; text-shadow:  2px 3px 4px rgba(0,0,0,.4);" >IRCTC Authorized Partner</h2>
            </div>  
            <div class="d-flex justify-content-center mt-3 mb-3" >
                <h1 style="color :#fff ;font-size: 4em; text-shadow:  2px 3px 4px rgba(0,0,0,.4);" >BOOK TRAIN TICKETS</h1> <br>  
            </div>
            <div class="d-flex justify-content-center" >
                <h3 style="color: #FFFF00; text-shadow:  2px 3px 4px rgba(0,0,0,.4);" >Confirm TICKET OR Up to 3X REFUND*</h3>
            </div>
            <div class="d-flex booking-ticket" style="margin-top: 50px; padding-top: 20px;" >
                <ul>
                    <li><i class="fa-solid fa-utensils"></i> <a href="#">Order Food in Train</a></li>
                    <li> <i class="fa-solid fa-train"></i><a href="#">Booking Train Ticket</a></li>
                    <li><i class="fa-solid fa-list"></i> <a href="#">PNR Status</a></li>
                    <li><i class="fa-solid fa-signal"></i> <a href="#">Running Status</a></li> 
                    <li><i class="fa-solid fa-circle-exclamation"></i><a href="#">Train Enquiry</a></li>
                    <hr style="background: #000; width: 100%; font-size: 1px;">
                </ul>    
                   <form action="">
                    <div class="dropup">
                        <img src="https://www.railofy.com/images/desktop_icons/From_train.svg" alt="">
                        <input type="text" style="border: none;  background-color: #fff; color: #000;" class="btn btn-primary"  placeholder="Enter From Station">
                        <button class="dropbtn"><i style="border : none;" class="fa-solid fa-caret-up"></i></button>
                        <div class="dropup-content">
                          <li href="#">Value 1</li>
                        </div>
                    </div>   
                    <div class="dropup">
                        <img src="https://www.railofy.com/images/desktop_icons/To_train.svg" alt="">
                        <input type="text" style="border: none;  background-color: #fff; color: #000;" class="btn btn-primary"  placeholder="Enter To Station">
                        <button class="dropbtn"><i style="border : none;" class="fa-solid fa-caret-up"></i></button>
                        <div class="dropup-content">
                          <li href="#">Value 1</li>
                        </div>
                    </div>  
                    <div class="dropup">
                        <i class="fa-solid fa-calendar-days"></i>
                        <input type="date" style="border: none; background-color: #fff; color: #000;" class="btn btn-primary"  placeholder="Enter To Station">
                    </div> 
                        <button type="submit" class="btn btn-primary" style="padding: 11px 40px; color :#fff">SEARCH</button>
                   </form>
                 
                 
               
            </div>
        </div>
    </div>
</div>