.main-footer{
    background: #1d2020;
    color: #647471 !important;
    font-size: 12px;
    line-height: 1.4em;
    border-top: 3px solid #fb0;
    margin-top: 40px;
}

img {
    width: 40px;
    height: 40px;
}

.footer-title{
    font-weight: 900;
    text-transform: uppercase;
    color: #9fafac;
    letter-spacing: .5px;
}

ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0 16px 0 0;
}

li > a {
    color: #647471 !important;
    text-decoration: none;
    list-style-type: none;
}

.email-contact {
  color: rgba(255,187,0,1);
  letter-spacing: .3px;
  text-decoration: underline;
  margin-left: -5px;
}
