<footer class="main-footer">
    <div class="gap gap-section hidden-sm hidden-xs"></div>
    <div class="gap gap-small hidden-lg hidden-md"></div>
    <div style="border-top: 1px solid #282c2c; margin: 15px 0 30px 0;"></div>
    <div class="container">
    <div class="row mobile-text-center">
    <div class="col-md-3 col-sm-12">
    <img style="width: 200px!important; margin: -5px;" src="https://www.baolau.com/images/logos/baolau/logo_white.svg">
    </div>
 
    <div class="col-md-3 col-sm-12">
    <div class="footer-title">
    Company </div>
    <br>
    <span class="bold">Baolau Pte Ltd, 201434204K, Singapore</span>
    <br>
    <span class="bold">Baolau Co Ltd, 0313838015, Vietnam</span>
    <br>
    <span class="bold">Baolau Thai Co Ltd, 0105564006967, Thailand</span>
    <br>
    <span class="bold">Boeki Up Co Ltd, 5140001101308, Japan</span>
    </div>
    <div class="col-md-3 col-sm-12">
    <div class="footer-title">
    Contact Us</div>
    <br>
    <div class="small-text">
    <button style="background:none;" type="button" class="btn-contact super-bold" data-toggle="modal" data-target="#Contact_popup" data-whatever="@getbootstrap"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="096a66677d686a7d496b686665687c276a6664" style="    color: rgba(255,187,0,1);
        letter-spacing: .3px;
        text-decoration: underline;
        margin-left: -5px;">[email&#160;protected]</a></button>
    </div>
    </div>
    <div class="col-md-3 col-sm-12">
    <div class="footer-title">
    Follow Us </div>
    <br>
    <a href="https://twitter.com/baolau" target="_blank" class="fab fa-twitter big-big-text"></a>&nbsp;
    
    
    <br><br>
    <span>#TravelAsiaWithBaolau</span> <span>#WeMakeTravelEasy</span>
    </div>
    </div>
    </div>
    <div style="border-top: 1px solid #282c2c;margin: 20px 0 25px 0;"></div>
    <div class="container">
    <div style="padding-bottom: 25px;white-space: normal;" class="footer-logo payment text-center">
    <div style="margin-bottom: 15px" class="bold">We accept payments with Visa, MasterCard, American Express, JCB, UnionPay and Alipay.</div>
    <img src="https://www.baolau.com/images/footer/payments/visa.svg">
    <img src="https://www.baolau.com/images/footer/payments/mastercard.svg">
    <img src="https://www.baolau.com/images/footer/payments/amex.svg">
    <img src="https://www.baolau.com/images/footer/payments/jcb.svg">
    <img src="https://www.baolau.com/images/footer/payments/unionpay.svg">
    <img style="margin-bottom: 2px" src="https://www.baolau.com/images/footer/payments/alipay.svg">
    <div style="margin-top: 20px" class="text-center">© 2013-2024 — All rights reserved</div>
    </div>
    </div>
</footer>