.image {
  width: 100%;
  height: 430px;
  object-fit: cover;
  object-position: center center;
}

h1.teko {
  color: #fff;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 66px;
  line-height: 1.3;
  letter-spacing: 4.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
