<div class="bg-white">

  <div class="py-3 ml-3">
    <button nbButton status="primary" class="mr-3"
            routerLink="/managements/train-and-carriage/carriage-type/add">
      Add new carriage type
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Service Charge</th>
        <th scope="col">Created At</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carriageTypes; let index = index">
        <th scope="row">{{index + 1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.serviceCharge | currency}}</td>
        <td>{{item.createdAt |date: 'fullDate'}}</td>
        <td>
          <button nbButton status="primary" class="mr-3">
            Edit
          </button>
          <button nbButton status="danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
