<h4>Select your departing trip</h4>
<div class="horizontal-devider"></div>

<h5 style="margin-top: 0">
  Results from
  <span class="blue-text bold">Hanoi</span>
  to
  <span class="blue-text bold">Ninh Binh</span>
  on
  <span>Thursday, 11 January 2024</span>
</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">
        <i class="fa-solid fa-arrow-down-wide-short"></i>
      </th>
      <th scope="col" class="text-end">Departure</th>
      <th scope="col" class="text-end">Arrival</th>
      <th scope="col" class="text-center">Duration</th>
      <th scope="col" class="text-start">Itinerary</th>
      <th scope="col" class="text-start">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align: center; width: 172px;">
      <img class="logo" src="https://booking.baolau.com/images/logos/transports/logo-vr.png" alt="logo">
      <div class="hidden-xs hidden-sm" style="font-size: 13px;">SE3</div>
    </td>

    <td class="text-end" style="width: 178px;">
      <div class="bold ">19:20</div>
      <div>Th, 11/01</div>
    </td>

    <td class="text-end" style="width: 162px;">
      <div class="bold ">21:31</div>
      <div>Th, 11/01</div>
    </td>

    <td class="text-center" style="width: 196px;">
      2h 11m
    </td>

    <td class="searchresult-itenerary" style="width: 313px;">
      <span style="display:inline-block">
        HANOI
        <br>
        <span style="font-size:13px">Hanoi</span>
      </span>
      <i class="fa-solid fa-train icon"></i>
      <span style="display:inline-block">
        NINH BINH
        <br>
        <span style="font-size:13px">Ninh Binh</span>
      </span>
    </td>

    <td class="text-start" style="">
      <div class="yellow-text bold">
        <span class="money">{{99 | currency}}</span>
      </div>
    </td>

    <td>
      <i class="fa-solid fa-chevron-down" style="color: #65696e"></i>
    </td>
  </tr>

  </tbody>
</table>
