<h2>Select your departing trip</h2>

<pre>
  {{ departureService.schedules | json }}
</pre>
<div class="horizontal-devider"></div>

<h5 style="margin-top: 0">
  Results from
  <span class="blue-text bold">{{ departureService.scheduleInfo?.fromStationName }}</span>
  to
  <span class="blue-text bold">{{ departureService.scheduleInfo?.toStationName }}</span>
  on
  <span>{{ departureService.scheduleInfo?.departureDate | date }}</span>
</h5>


<table class="table">
  <thead>
  <tr>
    <th scope="col" class="text-center">
      <i class="fa-solid fa-arrow-down-wide-short"></i>
    </th>
    <th scope="col" class="text-end">Departure</th>
    <th scope="col" class="text-end">Arrival</th>
    <th scope="col" class="text-center">Duration</th>
    <th scope="col" class="text-start">Itinerary</th>
    <th scope="col" class="text-start">Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <ng-container *ngFor="let item of departureService.schedules; let i = index">
    <tr [class.table-light]="openStates[i]">
      <td style="text-align: center; width: 172px;">
        <img class="logo" src="https://localhost:5001/images/trainLogo/{{item.trainCompanyLogo}}" alt="logo">
        <div class="hidden-xs hidden-sm" style="font-size: 13px;">{{ item.trainName }}</div>
      </td>

      <td class="text-end" style="width: 178px;">
        <div class="bold ">{{ item.departureTime | date: 'shortTime' }}</div>
        <div>{{ item.departureTime | date }}</div>
      </td>

      <td class="text-end" style="width: 162px;">
        <div class="bold ">{{ item.arrivalTime | date: 'shortTime' }}</div>
        <div>{{ item.arrivalTime | date }}</div>
      </td>

      <td class="text-center" style="width: 196px;">
        {{ item.duration | durationToHoursMinutes }}
      </td>

      <td class="searchresult-itenerary" style="width: 313px;">
        <div class="d-flex align-items-center">
          <span style="max-width: 40%">
          {{ item.departureStationName }}
            <br>
            <!--          <span style="font-size:13px">{{item.departureStationName}}</span>-->
        </span>
          <i class="fa-solid fa-train icon"></i>
          <span style="max-width: 40%">
          {{ item.arrivalStationName }}
            <br>
            <!--          <span style="font-size:13px">{{item.arrivalStationName}}</span>-->
        </span>
        </div>
      </td>

      <td class="text-start" style="">
        <div class="yellow-text bold">
          <span class="money">{{ item.price | currency }}</span>
        </div>
      </td>

      <td>
        <i class="fa-solid fa-chevron-{{openStates[i] ? 'up' : 'down'}}"
           (click)="onChevronClick(i)"
           style="color: #65696e; cursor: pointer"></i>
      </td>
    </tr>
    <tr>
      <td colspan="7" style="padding: 0">
        <div class="table-container" [class.open]="openStates[i]">
          <div style="color: #7a8085;">
            <table>
              <!-- Origin -->
              <tbody>
              <tr style="border:none">
                <td style="width: 172px; height: 116px;"></td>

                <td class="text-end" style="width: 178px;">
                  <span class="bold">{{ item.departureTime | date: 'shortTime' }}</span>
                  <div>{{ item.departureTime | date }}</div>
                </td>

                <td class="relative text-center" style="width: 162px;">
                  <div class="searchresult-timeline">
                    <i class="fa-solid fa-hexagon icon-line-point inline line-bottom"></i>
                  </div>
                </td>

                <td colspan="4" class="padded-left padded-right" style="width: 509px;">
                  <!-- style="border-right:1px solid #ddd;" -->
                  <span class="text-uppercase bold">{{item.departureStationName}}</span>
                  <div>{{item.departureStationName}}</div>
                  <span style="font-size: 13px">{{item.departureStationAddress}}</span>
                </td>

                <!-- Fares -->
                <td colspan="2" rowspan="3" style="padding: 10px 20px 10px 0; width: 618px;">
                  <div class="fares">
                    <div class="desktop-fares">
                      <div *ngFor="let type of item.scheduleCarriageTypes; let i = index" class="relative fares-choose-items">

                        <div class="fares-choose radio">
                          <input id="fare_{{i}}" type="radio" name="fare" class="fare_radio" checked="">
                          <label for="fare_{{i}}"></label>
                        </div>

                        <label class="fares-description">
                          <p class="underline js-fare-info" style="margin: 0;">{{type.name}}</p>
                          <button class="js-fare-info" style="padding: 2px 0; background: transparent;">
                            <i class="fas fa-times" style="font-size: 11px; padding: 0 1px;"></i>
                            <span class="fare-info-summary">Change</span>
                            <i class="fas fa-check" style="font-size: 11px;"></i>
                            <span class="fare-info-summary">Cancellation</span>
                          </button>

                          <br>

                          <div>
                            <span class="yellow-text bold">{{ item.price + type.serviceCharge | currency }}</span>
                          </div>
                        </label>
                      </div>

<!--                      <div class="relative fares-choose-items">-->

<!--                        <div class="fares-choose radio">-->
<!--                          <input id="fare_2" type="radio" name="fare" class="fare_radio">-->
<!--                          <label for="fare_2"></label>-->
<!--                        </div>-->
<!--                        <label class="fares-description">-->
<!--                          <p class="underline js-fare-info" style="margin: 0;">Sleeper 6-Berth</p>-->
<!--                          <button class="js-fare-info" style="padding: 2px 0; background: transparent;">-->
<!--                            <i class="fas fa-times" style="font-size: 11px; padding: 0 1px;"></i>-->
<!--                            <span class="fare-info-summary">Change</span>-->
<!--                            <i class="fas fa-check" style="font-size: 11px;"></i>-->
<!--                            <span class="fare-info-summary">Cancellation</span>-->
<!--                          </button>-->
<!--                          <br>-->
<!--                          <div>-->
<!--                            <span class="yellow-text">{{ 159 | currency }}</span>-->
<!--                          </div>-->

<!--                        </label>-->
<!--                      </div>-->

<!--                      <div class="relative fares-choose-items">-->

<!--                        <div class="fares-choose radio">-->
<!--                          <input id="fare_3" type="radio" name="fare" class="fare_radio">-->
<!--                          <label for="fare_3"></label>-->
<!--                        </div>-->

<!--                        <label class="fares-description">-->
<!--                          <p class="underline js-fare-info" style="margin: 0;">Sleeper 4-Berth</p>-->
<!--                          <button class="js-fare-info" style="padding: 2px 0; background: transparent;">-->
<!--                            <i class="fas fa-times" style="font-size: 11px; padding: 0 1px;"></i>-->
<!--                            <span class="fare-info-summary">Change</span>-->
<!--                            <i class="fas fa-check" style="font-size: 11px;"></i>-->
<!--                            <span class="fare-info-summary">Cancellation</span>-->
<!--                          </button>-->
<!--                          <br>-->
<!--                          <div>-->
<!--                            <span class="yellow-text">{{ 174 | currency }}</span>-->
<!--                          </div>-->

<!--                        </label>-->
<!--                      </div>-->
                    </div>
                  </div>
                </td>
              </tr>
              <!-- end Origin-->

              <!-- Transport -->
              <tr style="border:none">
                <td class="text-center" style="width: 172px; height: 116px;">
                  &nbsp;
                </td>
                <td class="text-end" style="width: 178px;">
                  <i class="fa-solid fa-train"></i>
                  <div class="bold">{{ item.duration | durationToHoursMinutes }}</div>
                </td>
                <td class="text-center" style="width: 162px;">
                  <div class="searchresult-timeline">
                    &nbsp;
                  </div>
                </td>
                <td colspan="2" class="padded-left padded-right" style="width: 509px;">
                  <button class="" style="padding: 0; background: transparent;">
                    <img class="searchresult-thumb-logo"
                         src="https://localhost:5001/images/trainLogo/{{item.trainCompanyLogo}}">
                  </button>
                  <div class="d-flex flex-column">
                    <span class="bold underline " style="cursor: pointer;">{{item.trainCompanyName}}</span>
                    <span>{{ item.trainName }}</span>
                  </div>
                </td>
              </tr> <!-- end Transport-->

              <!--  Destination -->
              <tr style="border:none">
                <td style="width: 172px; height: 116px;"></td>
                <td class="text-end" style="width: 178px;">
                  <span class="bold">{{ item.arrivalTime | date: 'shortTime' }}</span>
                  <div>{{ item.arrivalTime | date }}</div>
                </td>
                <td class="relative text-center" style="width: 162px;">
                  <div class="searchresult-timeline">
                    <i class="fa-solid fa-hexagon icon-line-point inline line-top"></i>
                  </div>
                </td>
                <td colspan="2" class="padded-left padded-right" style="width: 509px;">
                  <span class="text-uppercase bold">{{item.arrivalStationName}}</span>
                  <div>{{item.arrivalStationName}}</div>
                  <span style="font-size: 13px">{{item.arrivalStationAddress}}</span>
                </td>
              </tr>
              <!-- end Destination-->

              </tbody>
            </table>
            <!-- end Details -->

          </div>
          <div>
            <a class="btn green w-100" routerLink="/booking/seat-selection" (click)="onBookNowClick(item.id)">
              <span class="bold">BOOK NOW</span>
            </a>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>

  <tr *ngIf="departureService.schedules.length === 0">
    <td colspan="7" class="text-center">
      <h5 class="bold py-5">No results found</h5>
    </td>
  </tr>

  </tbody>
</table>
