<h4>Select your departing trip</h4>
<div class="horizontal-devider"></div>

<h5 style="margin-top: 0">
  Results from
  <span class="blue-text bold">Hanoi</span>
  to
  <span class="blue-text bold">Ninh Binh</span>
  on
  <span>Thursday, 11 January 2024</span>
</h5>



<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">
        <i class="fa-solid fa-arrow-down-wide-short"></i>
      </th>
      <th scope="col" class="text-end">Departure</th>
      <th scope="col" class="text-end">Arrival</th>
      <th scope="col" class="text-center">Duration</th>
      <th scope="col" class="text-start">Itinerary</th>
      <th scope="col" class="text-start">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center; width: 172px;">
        <img class="logo" src="https://booking.baolau.com/images/logos/transports/logo-vr.png" alt="logo">
        <div class="hidden-xs hidden-sm" style="font-size: 13px;">SE3</div>
      </td>

      <td class="text-end" style="width: 178px;">
        <div class="bold ">19:20</div>
        <div>Th, 11/01</div>
      </td>

      <td class="text-end" style="width: 162px;">
        <div class="bold ">21:31</div>
        <div>Th, 11/01</div>
      </td>

      <td class="text-center" style="width: 196px;">
        2h 11m
      </td>

      <td class="searchresult-itenerary" style="width: 313px;">
        <span style="display:inline-block">
          HANOI
          <br>
          <span style="font-size:13px">Hanoi</span>
        </span>
        <i class="fa-solid fa-train icon"></i>
        <span style="display:inline-block">
          NINH BINH
          <br>
          <span style="font-size:13px">Ninh Binh</span>
        </span>
      </td>

      <td class="text-start" style="">
        <div class="yellow-text bold">
          <span class="money">{{99 | currency}}</span>
        </div>
      </td>

      <td>
        <i class="fa-solid fa-chevron-{{isOpen ? 'up' : 'down'}}"
           (click)="onChevronClick()"
           style="color: #65696e; cursor: pointer"></i>
      </td>
    </tr>

    <tr>
      <td colspan="7" style="padding: 0">
        <div class="table-container" [class.open]="isOpen">
          <div style="color: #7a8085;">
            <table>
              <!-- Origin -->
              <tbody>
              <tr style="border:none">
                <td style="width: 172px; height: 116px;"></td>

                <td class="text-end" style="width: 178px;">
                  <span class="bold">19:20</span>
                  <div>Th, 11/01</div>
                </td>

                <td class="relative text-center" style="width: 162px;">
                  <div class="searchresult-timeline">
                    <i class="fa-solid fa-hexagon icon-line-point inline line-bottom"></i>
                  </div>
                </td>

                <td colspan="4" class="padded-left padded-right" style="width: 509px;"><!-- style="border-right:1px solid #ddd;" -->
                  <span class="text-uppercase bold">HANOI</span>
                  <div>Hanoi Railway Station</div>
                  <span style="font-size: 13px">120 Lê Duẩn, Quận Hoàn Kiếm, Hà Nội</span>
                </td>

                <!-- Fares -->
                <td colspan="2" rowspan="3" style="padding: 10px 20px 10px 0; width: 618px;">
                  <div class="fares" data-route="112973779">
                    <div class="desktop-fares">

                      <div class="relative fares-choose-items active ">

                        <div class="fares-choose radio">
                          <input id="fare_1" type="radio" name="fare" class="fare_radio"  checked="">
                          <label for="fare_1"></label>
                        </div>

                        <label class="fares-description">
                          <p class="underline js-fare-info" style="margin: 0;">Soft seat Premium</p>
                          <button class="js-fare-info" style="padding: 2px 0; background: transparent;">
                            <i class="fas fa-times" style="font-size: 11px; padding: 0 1px;"></i>
                            <span class="fare-info-summary">Change</span>
                            <i class="fas fa-check" style="font-size: 11px;"></i>
                            <span class="fare-info-summary">Cancellation</span>
                          </button>

                          <br>

                          <div>
                            <span class="yellow-text bold">{{99 | currency}}</span>
                          </div>
                        </label>
                      </div>

                      <div class="relative fares-choose-items">

                        <div class="fares-choose radio">
                          <input id="fare_2" type="radio" name="fare" class="fare_radio">
                          <label for="fare_2"></label>
                        </div>
                        <label class="fares-description">
                          <p class="underline js-fare-info" style="margin: 0;">Sleeper 6-Berth</p>
                          <button class="js-fare-info" style="padding: 2px 0; background: transparent;">
                            <i class="fas fa-times" style="font-size: 11px; padding: 0 1px;"></i>
                            <span class="fare-info-summary">Change</span>
                            <i class="fas fa-check" style="font-size: 11px;"></i>
                            <span class="fare-info-summary">Cancellation</span>
                          </button>
                          <br>
                          <div>
                            <span class="yellow-text">{{159 | currency}}</span>
                          </div>

                        </label>
                      </div>

                      <div class="relative fares-choose-items">

                        <div class="fares-choose radio">
                          <input id="fare_3" type="radio" name="fare" class="fare_radio" >
                          <label for="fare_3"></label>
                        </div>

                        <label class="fares-description">
                          <p class="underline js-fare-info"  style="margin: 0;">Sleeper 4-Berth</p>
                          <button class="js-fare-info" style="padding: 2px 0; background: transparent;">
                            <i class="fas fa-times" style="font-size: 11px; padding: 0 1px;"></i>
                            <span class="fare-info-summary">Change</span>
                            <i class="fas fa-check" style="font-size: 11px;"></i>
                            <span class="fare-info-summary">Cancellation</span>
                          </button>
                          <br>
                          <div>
                            <span class="yellow-text">{{174 | currency}}</span>
                          </div>

                        </label>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <!-- end Origin-->

              <!-- Transport -->
              <tr style="border:none">
                <td class="text-center" style="width: 172px; height: 116px;">
                  &nbsp;
                </td>
                <td class="text-end" style="width: 178px;">
                  <i class="fa-solid fa-train"></i>
                  <div class="bold">2h 11m</div>
                </td>
                <td class="text-center" style="width: 162px;">
                  <div class="searchresult-timeline">
                    &nbsp;
                  </div>
                </td>
                <td colspan="2" class="padded-left padded-right" style="width: 509px;">
                  <button class="" style="padding: 0; background: transparent;">
                    <img class="searchresult-thumb-logo" src="https://booking.baolau.com/images/logos/transports/thumb/logo-vr.png">
                  </button>
                  <div>
                    <span class="bold underline " style="cursor: pointer;">Vietnam Railways</span>
                    <span> SE3</span>
                  </div>
                  <button class="" style="padding: 4px 0; background: transparent;">
                    <div class="rating yellow-text">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-half-alt" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                    </div>
                  </button>
                </td>
              </tr> <!-- end Transport-->

              <!--  Destination -->
              <tr style="border:none">
                <td style="width: 172px; height: 116px;"></td>
                <td class="text-end" style="width: 178px;">
                  <span class="bold">21:31</span>
                  <div>Th, 11/01</div>
                </td>
                <td class="relative text-center" style="width: 162px;">
                  <div class="searchresult-timeline">
                    <i class="fa-solid fa-hexagon icon-line-point inline line-top"></i>
                  </div>
                </td>
                <td colspan="2" class="padded-left padded-right" style="width: 509px;">
                  <span class="text-uppercase bold">NINH BINH</span>
                  <div>Ninh Binh Railway Station</div>
                  <span style="font-size: 13px">1 Ngõ 41 Hoàng Hoa Thám, Nam Bình, Ninh Bình</span>
                </td>
              </tr>
              <!-- end Destination-->

              </tbody>
            </table>
            <!-- end Details -->

          </div>
          <div>
            <a class="btn green w-100" routerLink="/booking/passengers" (click)="onBookNowClick(1)">
              <span class="bold">BOOK NOW</span>
            </a>
          </div>
        </div>
      </td>
    </tr>


  asdsadasd

  </tbody>
</table>
